<% content_for :title do %><title>Your Dashboard - Projexion</title><% end %> 
<div id="content">
	<p class="success"><span ><%= flash[:notice] %></span></p>

    <div style="float:left">
      <h1>Latest events</h1>
      <ul>
          <% @events.each do |event| %>
          <li>
            <% if event.model.eql? 'Task' %>
              <%= link_to event.model + " " + event.action, {:controller => event.model.downcase + 's', :action => :show, :id => event.model_id},
                   :rel => 'facebox' %>
            <% else %>
              <%= link_to event.model + " " + event.action, {:controller => event.model.downcase + 's', :action => :show, :id => event.model_id} %>
            <% end %>
            in <%= link_to event.project.name, project_path(event.project.code) %> by <%= event.user.login %> at <%= event.created_at %>
          </li>
          <% end %>
      </ul>
    </div>

    <div style="float:left; margin-left:2em">
      <h1>Next Meetings</h1>
      <% unless @meetings.empty? %>
       <ul>
        <% @meetings.each do |meeting| %>
        <li>
          <%= meeting.start_time %>
        </li>
        <% end %>
       </ul>
      <% else %>
  	   <p class="info">
        No scheduled meetings.
       </p>
      <% end %>    
    </div>
</div>

<div id="sidebar">
    <h2>My Projects</h2>
    <ul>
      <% @projects.each do |project| %>
      <li><%= link_to project.name, project_path(project.code), :class => 'detail' %></li>
      <% end %>    
    </ul>

    <%# Show next meeting here %>
</div>