<% content_for :title do %>Your Dashboard&nbsp;:&nbsp;<%= @current_account.company.name %><% end %>

<script type="text/javascript">
    var offset = parseInt(<%= params[:next_offset] %>);

    $(document).ready(function(){
       $('.info-list').corner();

       $('.more').ajaxStart(function(){
            $('.more span').replaceWith("<img src='/images/ajax-loader.gif' />");
       });

       $('.more').click(function(){
            $.post('<%= url_for :action => :more, :controller => :events %>',
                       {"offset" : offset}, function(response){
                
                $('#events').append(response);
                $('.info-list').corner();
                $('.more img').replaceWith("<span>More</span>");
                offset += 10;

            }, 'html');
       });
    });
</script>
<div id="content">
  <% if flash[:notice] %><p class="success"><%= flash[:notice] %></p><% end %>

  <div class="left">
    <h2>Latest events</h2>

    <% unless @events.empty? %>    
      <ul id="events">
        <%= render :partial => "events/list" %>
      </ul>

      <div class="more">
        <span>More</span>
      </div>
    <% else %>
      <p class="info">There is no event so far.</p>
    <% end %>
  </div>

  <div class="right">

    <div id="projects">
      <h2>Your Projects</h2>

      <% unless @projects.empty? %>
      <ul>
        <% @projects.each do |project| %>
        <li>
          <%= link_to project_path(project.code) do %>
            <h3><%= project.name %></h3>
          <% end %>
        </li>
        <% end %>
      </ul>
      <% else %>
        <p class="info">
          You're not in a project yet.
        </p>
      <% end %>
    </div>

  </div>
</div>

<div id="sidebar">
  <div id="tasks">
    <h3>Your Tasks</h3>

    <% unless @tasks.empty? %>
      <ul>
        <% @tasks.each do |task| %>
          <li class="bbordered">
            <%= task.description %>&nbsp;-&nbsp;<%= link_to task.project.name, project_path(task.project.code) %><br/>
            <%= task.feature.user_story %>
            <%= link_to project_feature_path(task.project.code, task.feature), :title => view_feature_title, :rel => :tipsy do %>
              <img src="/images/icons/application_view_detail.png">
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
       <p class="info">
        You do not have any task assigned yet.
     </p>
    <% end %>
  </div>
</div>