<div id="content">
	<p class="success"><span ><%= flash[:notice] %></span></p>

    <h1>Latest events</h1>
    <div>
        <ul>
          <% @events.each do |event| %>
          <li>
            <% if event.model.eql? 'Task' %>
              <%= link_to event.model + " " + event.action, {:controller => event.model.downcase + 's', :action => :show, :id => event.model_id},
                   :rel => 'facebox' %>
            <% else %>
              <%= link_to event.model + " " + event.action, {:controller => event.model.downcase + 's', :action => :show, :id => event.model_id} %>
            <% end %>
            in <%= link_to event.project.name, project_path(event.project.code) %> by <%= event.user.login %> at <%= event.created_at %>
          </li>
          <% end %>
        </ul>
    </div>
</div>

<div id="sidebar">
    <h2>My Projects</h2>
    <ul>
      <% @projects.each do |project| %>
      <li><%= link_to project.name, project_path(project.code), :class => 'detail' %></li>
      <% end %>    
    </ul>

    <%# Show next meeting here %>
</div>