<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Projexion</title>
    <%= stylesheet_link_tag 'reset' %>
	<%= stylesheet_link_tag 'ext-all' %>
	<%= stylesheet_link_tag 'projexion' %>
	<%= javascript_include_tag 'ext-base' %>
	<%= javascript_include_tag 'ext-all-debug' %>
	<%= javascript_include_tag 'ux/SearchField' %>
	<%= javascript_include_tag 'projexion/projexion' %>
    <%= javascript_include_tag 'projexion/main' %>
</head>
<body>
    <div id="header">
      <div id="title">Projexion</div>
      <div id="login">Logged in as: | <a href="/logout">Logout</a></div>
    </div>
    
    <div id="footer">
      <a href="http://github.com/scrum8/projexion">Projexion</a> is a Free Software made by <a href="http://scrum8.com/">Scrum8</a> licensed under <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html">GNU GPL v3.0</a>. <br/>
      <a href="http://scrum8.com/contact">Contact us</a> for more info on how we can help you with your project and licensing issues.
    </div>
</body>
</html>