<% content_for :title do %>Your Dashboard&nbsp;:&nbsp;<%= @current_account.company.name %><% end %>

<script type="text/javascript">
    var offset = parseInt(<%= params[:next_offset] %>);

    $(document).ready(function(){
       $('.info-list').corner();

       $('.more').ajaxStart(function(){
            $('.more span').replaceWith("<img src='/images/ajax-loader.gif' />");
       });

       $('.more').click(function(){
            $.post('<%= url_for :action => :more, :controller => :events %>',
                       {"offset" : offset}, function(response){
                
                $('#events').append(response);
                $('.info-list').corner();
                $('.more img').replaceWith("<span>More</span>");
                offset += 10;

            }, 'html');
       });
    });
  </script>
<div id="content">
	<p class="success"><span ><%= flash[:notice] %></span></p>

    <div id="left">
      <h2>Latest events</h2>
      
      <% unless @events.empty? %>

      <ul id="events">
          <%= render :partial => "events/list" %>
      </ul>
      <div class="more">
        <span>More</span>
      </div>
      <% else %>
        <p class="info">
            No events so far.
         </p>
      <% end %>
    </div>

    <div id="right">
      <div id="tasks">
        <h3>Your Tasks</h3>

        <% unless @tasks.empty? %>
          <ul>
            <% @tasks.each do |task| %>
              <li class="info-list">
                <strong>Project</strong>:&nbsp;<%= task.project.name %><br/>
                <strong>User story</strong>:&nbsp;<%= task.feature.user_story %>
                <%= link_to project_feature_path(task.project.code, task.feature) do %>
                  <img src="/images/icons/application_view_detail.png">
                <% end %><br/>
                <strong>Task</strong>:&nbsp;<%= task.description %>
              </li>
            <% end %>
          </ul>
        <% else %>
           <p class="info">
            You have no tasks yet.
         </p>
        <% end %>
      </div>

      <!--<div id="meetings">-->
        <!--<h3>Your Meetings</h3>-->

        <!--<%# unless @meetings.empty? %>-->
         <!--<ul>-->
            <!--<%# @meetings.each do |meeting| %>-->
            <!--<li class="info-list">-->
              <!--<strong><%#= meeting.meeting_type.name %></strong>-->
              <!--<%#= link_to project_meeting_path(meeting.project.code, meeting) do %>-->
                  <!--<img src="/images/icons/application_view_detail.png">-->
              <%# end %><br/>
              <!--<%#= meeting.start_time %>&nbsp;(in <%#= distance_of_time_in_words_to_now(meeting.start_time) %>)<br/> -->
              <!--<strong>Project</strong>:&nbsp;<%#= link_to meeting.project.name, project_path(meeting.project.code) %><br/>-->
              <!--<strong>Location</strong>:&nbsp;<%#= meeting.location %><br/>-->
              <!--<strong>Booked by</strong>:&nbsp;<%#= link_to meeting.created_by, user_path(meeting.created_by) %><br/>-->
            <!--</li>-->
            <!--<%# end %>-->
         <!--</ul>-->
        <!--<%# else %>-->
         <!--<p class="info">-->
            <!--No scheduled meetings.-->
         <!--</p>-->
        <!--<%# end %>-->
      <!--</div>-->
    </div>
</div>

<div id="sidebar">
  <div id="projects">
    <h3>Your Projects</h3>
    <% unless @projects.empty? %>
    <ul>
      <% @projects.each do |project| %>
      <li>
        <% link_to project_path(project.code) do %>
            <%= project.name %>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% else %>
      <p class="info">
        You're not in a project yet.
     </p>
    <% end %>
  </div>
</div>