<div id="content">
  <p class="success"><span ><%= flash[:notice] %></span></p>

  <div>
    <h1>Scheduled Meetings for <%= @project.name %></h1>

    <table width="100%" id="meetings">
      <tr>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Location</th>
        <th>Meeting Type</th>
        <th>Booked by</th>
        <th>&nbsp;</th>
      </tr>
      <% for meeting in @meetings %>
      <tr>
        <td><%= meeting.start_time %></td>
        <td><%= meeting.end_time %></td>
        <td><%= meeting.location %></td>
        <td><%= meeting.meeting_type.name %></td>
        <td><%= link_to meeting.created_by, user_path(meeting.created_by) %></td>
        <td>
          <% link_to project_meeting_path(@project.code, meeting.id) do %>
            <img src="/images/icons/application_view_detail.png">
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>  
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Project Dashboard', project_path(@project.code), :class => 'dashboard' %></li>
    <li><%= link_to 'Book a meeting', new_project_meeting_path(@project.code), :class => 'add' %></li>
  </ul>
</div>