<div id="content">
  <div>
    <%= form_for @meeting, :url => project_meetings_path(@project.code) do |f| %>

        <p>
          <%= f.label :start_time %><br />
          <%#= f.datetime_select :start_time, :order => [:day, :month, :year] %>
          <%= f.text_field :start_time %>
        </p>

        <p>
          <%= f.label :end_time %><br />
          <%#= f.datetime_select :end_time, :order => [:day, :month, :year] %>
          <%= f.text_field :end_time %>
        </p>

        <p>
          <%= f.label :meeting_type %><br/>
          <%= f.collection_select(:meeting_type_id, @meeting_types, :id, :name, {:include_blank => true}) %>
        </p>

        <p>
          <%= f.label :location %><br/>
          <%= f.text_field :location %>
        </p>

        <p>
          <%= f.label :additional_attendees %><br/>
          <%= f.text_area :additionals, :size => "25x3" %>
        </p>
        <%# TODO: Additional attendees %>
        <%# TODO: Add RTE for agenda %>
        <p>
          <%= f.submit 'Save', :class=> 'save_btn' %>
        </p>
    <% end %>
  </div>
</div>

<div id="sidebar">
  <ul id="menu">
    <li><%= link_to 'Meetings', project_meetings_path(@project.code), :class => 'list' %></li>
  </ul>
</div>