<div id="content">
  <p class="success"><span ><%= flash[:notice] %></span></p>

  <% unless @meeting.cancelled_at.nil? %>
    <p class="info">
      This meeting was cancelled at <%= @meeting.cancelled_at %>.
    </p>
  <% end %>

  <div>
    <p>
      <%= label_tag :start_time %><br />
      <%= @meeting.start_time %>
    </p>

    <p>
      <%= label_tag :end_time %><br />
      <%= @meeting.end_time %>
    </p>

    <p>
      <%= label_tag :meeting_type %><br/>
      <%= @meeting.meeting_type.name %>
      <%= link_to admin_meeting_type_path(@meeting.meeting_type.id) do %>
        <img src="/images/icons/application_view_detail.png">
      <% end %>
    </p>

    <p>
      <%= label_tag :location %><br/>
      <%= @meeting.location %>
    </p>

    <p>
      <%= label_tag :booked_by %><br/>
      <%= link_to @meeting.created_by, user_path(@meeting.created_by) %>
    </p>
  </div>
</div>

<div id="sidebar">
  <ul id="menu">
    <li><%= link_to 'Meetings', project_meetings_path(@project.code), :class => 'list' %></li>
    <% if @meeting.cancelled_at.nil? %>
    <li><%= link_to 'Edit Meeting', edit_project_meeting_path(@project.code, @meeting), :class => 'edit'  %></li>
    <li><%= link_to 'Cancel Meeting', cancel_project_meeting_path(@project.code, @meeting),
                :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></li>
    <% end %>    
  </ul>
</div>