<% content_for :title do %>Admin&nbsp;:&nbsp;<%= controller_name.humanize %><% end %>

<div id="content">
	<p class="success"><span><%= flash[:notice] %></span></p>
	
	<table width="100%">
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Manager</th>
          <th>&nbsp;</th>
        </tr>
        <% for project_role in @project_roles %>
        <tr>
            <td><%= project_role.name %></td>
            <td><%= project_role.role %></td>
            <td style="text-align:center;">
				<% if project_role.manager %><img src="/images/icons/accept.png"/><% end %>
        	</td>
            <td width="5%" style="text-align:center;">
            <% link_to admin_project_role_path(project_role) do %>                                        
        	  <img src="/images/icons/application_view_detail.png">
      		<% end %>
      		</td>
        </tr>
        <% end %>  
    </table>
</div>

<div id="sidebar">
  <ul id="menu">
    <li><%= link_to 'Add New Project Role', new_admin_project_role_path, :class => 'add' %></li>
  </ul>
</div> 