<% content_for :title do %>Admin&nbsp;:&nbsp;<%= controller_name.humanize %><% end %>

<div id="content">
  
  <div class="left">
    <% if flash[:notice] %><p class="success"><%= flash[:notice] %></p><% end %>

    <%= form_for([:admin, @project_role], :remote => true) do |f| %>
      <%= render "shared/error_messages", :target => @project_role %>

      <div class="field_wrapper">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field_wrapper">
        <%= f.label :role_description %>
        <%= f.text_area :role, :rows => 4 %>
      </div>

      <div class="actions">
        <%= f.submit 'Save', :class=> 'save_btn' %>
      </div>
    <% end %>
  </div>

  <div class="right">
    <h2>Project Roles</h2>
    
    <ul>
      <% for project_role in @project_roles %>
      <li class="bbordered">
        <h3><%= project_role.name %></h3>
        <%= project_role.role %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="sidebar">
  <%= render :partial => 'admin/menu' %> 
</div> 