<% content_for :title do %>Admin&nbsp;:&nbsp;<%= controller_name.humanize %><% end %>

<div id="content">
	<p class="success"><span><%= flash[:notice] %></span></p>

    <div id="left">
      <% form_for ([:admin, @project_role]) do |f| %>
        <%= render "shared/error_messages", :target => @project_role %>

        <p>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </p>

		<p>
          	<%= f.check_box :manager %>
          	<%= f.label :manager_role?, 'Manager Role' %>
		</p>

        <p>
            <%= f.label :role_description %>
            <%= f.text_area :role, :size => "35x4" %>
        </p>

        <div class="actions">
          <%= f.submit 'Save', :class=> 'save_btn' %>
        </div>
     <% end %>
    </div>  

    <div id="right">
      <ul>
        <% for project_role in @project_roles %>
        <li>
          <label><%= project_role.name %>&nbsp;<% if project_role.manager %>(Manager Role)<% end %></label><br/>
          <%= project_role.role %>
        </li>
        <% end %>
      </ul>
    </div>  
</div>

<div id="sidebar">
  <%= render :partial => 'admin/menu' %> 
</div> 