<% content_for :title do %>Admin&nbsp;:&nbsp;<%= controller_name.humanize %><% end %>

<div id="content">
  <% if flash[:notice] %><p class="success"><%= flash[:notice] %></p><% end %>

  <div class="left">

    <%= form_for([:admin, @priority], :remote => true) do |f| %>
      <%= render "shared/error_messages", :target => @priority %>
        <div class="field_wrapper">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div class="field_wrapper">
          <%= f.label :priority_level %>
          <%= f.text_field :level, :size => 4 %>
        </div>

        <div class="field_wrapper">
          <%= f.label :color, 'Background color' %>
          <%= f.text_field :color, :size => 7, :maxlength => 7 %>
        </div>

        <div>
          <%= f.submit 'Save', :class=> 'save_btn' %>
        </div>
     <% end %>
  </div>

  <div class="right">
    <table width="100%">
      <tr>
        <th>Name</th>
        <th>Priority level</th>
        <th></th>
      </tr>

    <% @priorities.each do |priority| %>
      <tr>
        <td><%= priority.name %></td>
        <td style="text-align:center;"><%= priority.level %></td>
        <td style="background-color:<%= priority.hash_color %>"></td>
      </tr>
    <% end %>

    </table>
  </div>
</div>

<div id="sidebar">
  <%= render :partial => 'admin/menu' %>  
</div>
