<% content_for :title do %>Admin&nbsp;:&nbsp;<%= controller_name.humanize %><% end %>

<div id="content">
<p class="success"><span><%= flash[:notice] %></span></p>

  <div class="left">
    <% form_for([:admin, @priority], :remote => true) do |f| %>
      <%= render "shared/error_messages", :target => @priority %>
        <div class="field_wrapper">
          <%= f.label :display_name %>
          <%= f.text_field :display_name %>
        </div>

        <div class="field_wrapper">
          <%= f.check_box :default %>
          <%= f.label :default_priority? %>
        </div>

        <div class="field_wrapper">
          <%= f.label :priority_level %>
          <%= f.text_field :level, :size => 4 %>
        </div>

        <div class="field_wrapper">
          <%= f.label :color, 'Background color' %>
          <%= f.text_field :color, :size => 7, :maxlength => 7 %>
        </div>

        <div>
          <%= f.submit 'Save', :class=> 'save_btn' %>
        </div>
     <% end %>
  </div>

  <div class="right">
    <table width="100%">
      <tr>
        <th>Display name</th>
        <th>Priority level</th>
        <th></th>
      </tr>

    <% @priorities.each do |priority| %>
      <tr>
        <td><%= priority.display_name %></td>
        <td style="text-align:center;"><%= priority.level %></td>
        <td style="background-color:<%= priority.hash_color %>"></td>
      </tr>
    <% end %>

    </table>
  </div>
</div>

<div id="sidebar">
  <%= render :partial => 'admin/menu' %>  
</div>
