<div id="content">
    <script type="text/javascript">
      $(document).ready(function(){
        $('.placeholder').ajaxError(function(e, xhr, settings, exception){
            $(this).empty();
            var response = xhr.responseText;
            var obj = $.parseJSON(response);
            $.each(obj, function(key, value) {
              $('.placeholder').wrapInner("<div id='errorExplanation'>"+key.toUpperCase() + " " + value + "</div>");
              $.noticeAdd(value);  
            });

        });

        $('.placeholder').ajaxSuccess(function(e, xhr, settings, exception){
            if(settings.url === '<%= project_feature_tasks_path(@project.code, @feature) %>'){
              $.facebox.close();
              window.location = '<%= project_feature_path(@project.code, @feature) %>';
            }
        });
      });
    </script>
    <span class="placeholder"></span>

    <div id="task">
        <h1>Add New Task</h1>

        <% form_for @task, :url => project_feature_tasks_path(@project.code, @feature), :remote => true do |f| %>
          <%= f.error_messages %>

          <p>
            <%= f.label :description %><br />
            <%= f.text_field :description %><br />
          </p>

          <div>
            <%= f.submit 'Save', :class => 'save_btn' %>
          </div>

        <% end %>
    </div>
</div>

<div style="clear:both"></div>