<div id="content">
  <h1>Task Description</h1>

  <p>
    <%= label_tag(:project) %><br/>
    <%= @task.project.name %>
  </p>

  <p>
    <%= label_tag(:user_story) %><br/>
    <%= @task.feature.user_story %>
  </p>

  <p>
    <%= label_tag(:task) %><br/>
    <%= @task.description %>
  </p>

  <p>
    <%= label_tag(:task_owner) %><br/>
    <%= link_to @task.user.login, user_path(@task.user.login) %>
  </p>
</div>

<div style="clear:both"></div>