<% content_for :title do %>Login<% end %>

<div id="users_form">
  <h2>Login</h2>
  
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= render "shared/error_messages", :target => resource %>
    <div><%= f.label :email %><br />
    <%= f.text_field :email %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <%= f.hidden_field :account_id, :value => @current_account.id %> 

    <div><%= f.submit "Login" %></div>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>