<% content_for :title do %>Login&nbsp;:&nbsp;<%= @current_account.company.name %><% end %>

<div id="users_form">
  <h1>Login</h1>
  
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= render "shared/error_messages", :target => resource %>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %><span>Remember Me</span></div>
    <% end -%>

    <%= f.hidden_field :account_id, :value => @current_account.id %> 

    <div><%= f.submit "Login" %>&nbsp;or&nbsp;<%= link_to "Register", new_user_registration_path %></div>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>