<% content_for :title do %>Admin&nbsp;:&nbsp;<%= controller_name.humanize %><% end %>

<div id="content">
    <script type="text/javascript">
      $(document).ready(function(){
        var update_position = function(id, direction){
            $.post('<%= url_for :action => :update_position, :controller => :task_statuses %>',
                    {"id": id, "direction": direction }, callback, 'html');
        }

        var click_up = function(){
            var id = $(this).parent().parent().prev().val();

            update_position(id, 'up');
        }

        var click_down = function(){
            var id = $(this).parent().parent().prev().val();

            update_position(id, 'down');
        }

        var callback = function(response){
            $('#task-statuses').replaceWith(response);

            $('.up').bind('click', click_up);

            $('.down').bind('click', click_down);
        };

        $('.up').bind('click', click_up);

        $('.down').bind('click', click_down);
      });
    </script>

    <div class="left">
      <% if flash[:notice] %>
      <p class="success"><%= flash[:notice] %></p>
      <% end %>

      <%= form_for([:admin, @task_status], :remote => true) do |f| %>
        <%= render "shared/error_messages", :target => @task_status %>

        <div class="field_wrapper">
          <%= f.label :display_name %>
          <%= f.text_field :display_name %>
        </div>

        <!--<div class="field_wrapper">-->
          <!--<%#= f.label :key %>-->
          <!--<%#= f.text_field :key %>-->
        <!--</div>-->

        <div class="field_wrapper">
          <%= f.label :color, 'Background color' %>
          <%= f.text_field :color, :size => 7, :maxlength => 7 %>
        </div>

        <div class="actions">
          <%= f.submit 'Save', :class=> 'save_btn' %>
        </div>
       <% end %>
    </div>

    <div class="right">
      <%= render :partial => "list" %> 
    </div>
</div>

<div id="sidebar">
  <%= render :partial => 'admin/menu' %>
</div>