  <ul id="menu">
    <li><%= link_to 'Projects', admin_path, :class => 'detail' %></li>
    <li><%= link_to 'Users', admin_users_path, :class => 'detail' %></li>
    <li><%= link_to 'Priorities', admin_priorities_path, :class => 'detail' %></li>
    <li><%= link_to 'Project Roles', admin_project_roles_path, :class => 'detail' %></li>
    <li><%= link_to 'Task Statuses', admin_task_statuses_path, :class => 'detail' %></li>
    <li><%= link_to 'Feature Statuses', admin_feature_statuses_path, :class => 'detail' %></li>
    <li><%#= link_to 'Meeting Types', admin_meeting_types_path %></li>
  </ul>