<% content_for :title do %>Admin&nbsp;:&nbsp;Account<% end %>

<div id="content">
  <% if flash[:notice] %><p class="success"><%= flash[:notice] %></p><% end %>

  <div id="left">
  <%= form_for([:admin, @current_account]) do |f| %>
    <%= render "shared/error_messages", :target => @current_account %>

    <div class="field_wrapper">
      <%= f.label :time_zone %>
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all %>
    </div>

    <div class="actions">
      <%= f.submit 'Save' %>
    </div>
  <% end %>
  </div>

  <div id="right">

  </div>
</div>

<div id="sidebar">
  <%= render :partial => 'admin/menu' %>
</div>