<% content_for :title do %>Admin&nbsp;:&nbsp;<%= @current_account.company.name %><% end %>

<div id="content">
  <p class="success"><span><%= flash[:notice] %></span></p>
  <%# TODO: Add project manager in list %>

  <h2><%= @current_account.company.name %> Projects</h2>
  <ul>
    <% @projects.each do |project| %>
    <li><%= link_to project.name, project_path(project.code) %></li>
    <% end %>
  </ul>

</div>

<div id="sidebar">
  <ul id="menu">   
    <li><%= link_to 'Add New Project', new_admin_project_path, :class => 'add' %></li>
  	<li><%= link_to 'Show Users', admin_users_path, :class => 'list' %></li>
    <li><%= link_to 'Show Priorities', admin_priorities_path, :class => 'list' %></li>
    <li><%= link_to 'Show Project Roles', admin_project_roles_path, :class => 'list' %></li>
    <li><%= link_to 'Show Feature Statuses', admin_feature_statuses_path, :class => 'list' %></li>
    <li><%= link_to 'Show Task Statuses', admin_task_statuses_path, :class => 'list' %></li>
    <li><%= link_to 'Show Meeting Types', admin_meeting_types_path, :class => 'list' %></li>
    <%# TODO: Run release snapshot and sprint snapshot manually %>
    <%# TODO: Re-arrange this to be portal like layout %>
  </ul>
</div>