<% content_for :title do %>Admin&nbsp;:&nbsp;<%= @current_account.company.name %><% end %>

<div id="content">
  <p class="success"><span><%= flash[:notice] %></span></p>
  <%# TODO: Add project manager in list %>

  <h2><%= @current_account.company.name %> Projects</h2>
  <ul>
    <% @projects.each do |project| %>
    <li><%= link_to project.name, project_path(project.code) %></li>
    <% end %>
  </ul>

</div>

<div id="sidebar">
  <ul id="menu">   
    <li><%= link_to 'Add New Project', new_admin_project_path, :class => 'add' %></li>
  	<%# TODO: Run release snapshot and sprint snapshot manually %>
    <%# TODO: Re-arrange this to be portal like layout %>
  </ul>

  <h3>Management</h3>
  <ul>
    <li><%= link_to 'Users', admin_users_path %></li>
    <li><%= link_to 'Priorities', admin_priorities_path %></li>
    <li><%= link_to 'Project Roles', admin_project_roles_path %></li>
    <li><%= link_to 'Feature Statuses', admin_feature_statuses_path %></li>
    <li><%= link_to 'Task Statuses', admin_task_statuses_path %></li>
    <li><%#= link_to 'Meeting Types', admin_meeting_types_path %></li>
  </ul>
</div>