<div id="content">
    <%= flash[:notice] %>

    <script type="text/javascript">
      $(document).ready(function(){
        $('#task_status_display_name').slugify({ target: 'task_status_key' });
      });
    </script>
    <% form_for @task_status do |f| %>
        <%= f.error_messages %>

        <p>
          <%= f.label :display_name %><br />
          <%= f.text_field :display_name %>
        </p>
        <p>
          <%= f.label :key %><br />
          <%= f.text_field :key %>
        </p>

        <p>
          <%= f.label :default_status %>
          <%= f.check_box :default_status %>
        </p>

        <p>
          <%= f.label :color, 'Background color' %><br />
          <%= f.text_field :color, :size => 7, :maxlength => 7 %>
        </p>

        <p>
          <%= f.submit 'Save', :class=> 'save_btn' %>
        </p>
     <% end %>
     <%= button_to 'Cancel', task_statuses_path, :confirm => "Are you sure?", :method => :get, :class=> 'cancel_btn' %>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Task Status List', task_statuses_path, :class => 'list' %></li>
  </ul>    
</div>