<div id="users_form">
    <fieldset>
    <legend>Registration</legend>
    <%= form_for(@user) do |f| %>
      <%= render "shared/error_messages", :target => @user %>

      <p>
        <%= f.label :login %><br />
        <%= f.text_field :login %><br />
      </p>

      <p>
        <%= f.label :password, f.object.new_record? ? nil : "Change password" %><br />
        <%= f.password_field :password %>
      </p>

      <p>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </p>

      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>

      <div class="actions">
        <% if @user.new_record? %>
          <%= f.submit 'Register' %>
        <% else %>
          <%= f.submit 'Update' %>
        <% end %>
      </div>
    <% end %>

    <br /><br />
    <div  class="small">&laquo; <%= link_to 'Back', login_path %></div>
    </fieldset>  
</div>