<% content_for :title do %>Change my password<% end %>

<div id="content">
<% form_for @current_user do |f| %>
  <%= render "shared/error_messages", :target => @current_user %>

  <div class="field_wrapper">
    <%= f.label :password, 'New Password' %>
    <%= f.password_field :password %>
  </div>

  <div class="field_wrapper">
    <%= f.label :password_confirmation, 'New Password Confirmation' %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit 'Save', :class=> 'save_btn' %>
<% end %>
</div>

<div id="sidebar">
  <%= render :partial => 'menu' %>
</div> 