<% content_for :title do %>Update My user account<% end %>

<div id="content">
<% if flash[:notice] %>
<p class="success"><%= flash[:notice] %></p>
<% end %>

<%= form_for(@current_user) do |f| %>
  <%= render "shared/error_messages", :target => @current_user %>

  <div class="field_wrapper">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field_wrapper">
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>

  <%= f.submit 'Save', :class=> 'save_btn' %>
<% end %>
</div>

<div id="sidebar">
  <%= render :partial => 'menu' %>
</div>