<% content_for :title do %>Update My user account<% end %>

<div id="content">
<p class="success"><span><%= flash[:notice] %></span></p>

<%= form_for(@current_user) do |f| %>
  <%= render "shared/error_messages", :target => @current_user %>

  <div class="field_wrapper">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <%= f.submit 'Save', :class=> 'save_btn' %>
<% end %>
</div>

<div id="sidebar">
  <%= render :partial => 'menu' %>
</div>