<div id="content">
  <div id="left">
    <div class="field_wrapper">
      <%= label_tag(:email) %>
      <%= @user.email %>
    </div>

    <div class="field_wrapper">
      <%= label_tag(:last_login) %>
      <% unless @user.last_sign_in_at.nil? %>
          <%= @user.last_sign_in_at %>&nbsp;(<%= time_ago_in_words(@user.last_sign_in_at) %> ago)
      <% end %>
    </div>
  </div>

  <div id="right">
    <div>
      <h2>Projects</h2>

      <% unless @project_members.empty? %>
      <ul>
        <% @project_members.each do |project_member| %>
        <li class="bbordered">
          <%= link_to project_member.project.name, project_path(project_member.project.code) %>&nbsp;-&nbsp;
          <%= project_member.project_role.name %>&nbsp;
        </li>
        <% end %>
      </ul>
      <% else %>
        <p class="info">There is no project.</p>
      <% end %>
    </div>

    <div style="margin-top:2em;">
      <h3>Tasks</h3>

      <% unless @tasks.empty? %>
      <ul>
        <% @tasks.each do |task| %>
        <li class="bbordered">
          <%= task.description %>&nbsp;-&nbsp;<%= link_to task.project.name, project_path(task.project.code) %><br/>
          <%= task.feature.user_story %>
          <%= link_to project_feature_path(task.project.code, task.feature), :title => view_feature_title, :rel => :tipsy do %>
            <img src="/images/icons/application_view_detail.png">
          <% end %>
        </li>
        <% end %>
      </ul>
      <% else %>
        <p class="info">There is not task assigned.</p>
      <% end %>
  </div>
  </div>
</div>

<div id="sidebar">

</div>
