<div id="content">
    <p>
      <%= label_tag(:login) %><br />
      <%= @user.login %>
    </p>

    <p>
      <%= label_tag(:email) %><br />
      <%= @user.email %>
    </p>

    <p>
      <%= label_tag(:last_login) %><br />
      <% unless @user.last_login_at.nil? %>
          <%= @user.last_login_at %>&nbsp;(<%= time_ago_in_words(@user.last_login_at) %> ago)
      <% end %>
    </p>
</div>

<div id="sidebar">

</div>
