<div id="content">
  <div id="left">
    <p>
      <%= label_tag(:email) %><br />
      <%= @user.email %>
    </p>

    <p>
      <%= label_tag(:last_login) %><br />
      <% unless @user.last_sign_in_at.nil? %>
          <%= @user.last_sign_in_at %>&nbsp;(<%= time_ago_in_words(@user.last_sign_in_at) %> ago)
      <% end %>
    </p>
  </div>

  <div id="right">
    <div>
      <h2>Projects</h2>

      <% unless @project_members.empty? %>
      <ul>
        <% @project_members.each do |project_member| %>
        <li>
          <%= link_to project_member.project.name, project_path(project_member.project.code) %>&nbsp;-&nbsp;
          <%= project_member.project_role.name %>&nbsp;
        </li>
        <% end %>
      </ul>
      <% else %>
        <p class="info">There is no project.</p>
      <% end %>
    </div>

    <div style="margin-top:2em;">
      <h2>Tasks</h2>

      <% unless @tasks.empty? %>
      <ul>
        <% @tasks.each do |task| %>
        <li>
          <%= task.description %>&nbsp;-&nbsp;<%= link_to task.project.name, project_path(task.project.code) %><br/>
          <%= task.feature.user_story %>
        </li>
        <% end %>
      </ul>
      <% else %>
        <p class="info">There is not task assigned.</p>
      <% end %>
  </div>
  </div>
</div>

<div id="sidebar">

</div>
