 <div id="content">
  <% if flash[:notice] %><p class="success"><%= flash[:notice] %></p><% end %>
  
  <div>
    <h1>Sprints in <%= @project.name %></h1>
    <table width="100%" id="sprints">
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Release</th>
      <th>Velocities</th>
      <th>Sprint goal</th>
      <th>&nbsp;</th>
    </tr>
    <% for sprint in @sprints %>
      <tr id="<%= sprint.id %>">
        <td style="text-align:center;"><%= sprint.start_date %></td>
        <td style="text-align:center;"><%= sprint.end_date %></td>
        <td style="text-align:center;"><%= sprint.release.version_number %></td>
        <td style="text-align:center;"><%= sprint.velocities %></td>
        <td><%= sprint.goal %></td>
        <td>
          <%= link_to project_sprint_path(@project.code, sprint.id) do %>
            <img src="/images/icons/application_view_detail.png">
          <% end %>
        </td>
      </tr>
    <% end %>      
    </table>
    <%= will_paginate @sprints %>
  </div>
</div>

<div id="sidebar">
  <ul id="menu">
    <li><%= link_to 'Add New Sprint', new_project_sprint_path(@project.code), :class => 'add', :rel => :facebox, :remote => true %></li>
  </ul>
</div>