<div id="content">  
  <p class="success"><span ><%= flash[:notice] %></span></p>

  <% unless @sprint.cancelled_at.nil? %>
  <p class="info">
    This sprint was cancelled at <%= @sprint.cancelled_at %>.
  </p>
  <% end %>    

  <div style="float:left;width:80%">
    <h1>
      Product Features for <%= @project.name %>
    </h1>
    <%= render :partial => "features/list" %>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
       $('#info-box').corner();
    });
  </script>

  <div style="float:right">
      <div id="info-box">
        <strong>Project:</strong>&nbsp;<%= @project.name %><br/>
        <strong>Release:</strong>&nbsp;<%= @sprint.release.version_number %><br/>
        <strong>Sprint:</strong>&nbsp;<%= @sprint.span_date %><br/>
        <% if not @sprint.goal.empty? %><strong>Goal:</strong> <%= @sprint.goal %><% end %>
      </div>

      <% unless @meetings.empty? %>
        <h1 style="margin-top:1em;">Scheduled meetings in this sprint</h1>
        <ul>
        <% @meetings.each do |meeting| %>
            <li>
              <%= meeting.start_time %>

                <% link_to project_meeting_path(@project.code, meeting.id) do %>
                <img src="/images/icons/application_view_detail.png">
                <% end %>

            </li>
        <% end %>
        </ul>
      <% end %>
  </div>
  
  <div style="clear:both"></div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Project Dashboard', project_path(@project.code), :class => 'dashboard' %></li>
    <li><%= link_to 'Sprints', project_sprints_path(@project.code), :class => 'list' %></li>
    <% if @sprint.cancelled_at.nil? %>
    <li><%= link_to 'Edit Sprint', edit_project_sprint_path(@project.code, @sprint), :class => 'edit' %></li>
    <li><%= link_to 'Cancel Sprint', cancel_project_sprint_path(@project.code, @sprint), :class => 'delete',
                    :method => :put, :confirm => "Are you sure?" %></li>
    <% end %>    
    <li><%= link_to 'Sprint Taskboard', taskboard_project_sprint_path(@project.code, @sprint), :class => 'taskboard' %></li>
    <li><%= link_to 'Sprint Burndown', burndown_project_sprint_path(@project.code, @sprint), :class => 'chart' %></li>
  </ul>
  <%# TODO: Add meeting link %>
</div>