<div id="content">
    <script type="text/javascript">
     $(document).ready(function(){
         $('.task').corner();
         $('h3').corner();
         
         $('.desc').tooltip().click(function(){
             window.location = $(this).attr('link');
         });
     });  
    </script>
  
    <%# TODO: By default display tasks from current sprint %>
    <div>

        <div style="float:left; width:<%= @column_width %>;"><h3>Features</h3></div>
        <% for task_status in @task_statuses %>
            <div style="float:left; width:<%= @column_width %>;">
                <h3 style="background-color: <%= '#'+task_status.color %>; text-align:center; color:#fff;">
                  <%= task_status.display_name %>
                </h3>
            </div>
        <% end %>
        <div style="clear:both"></div>
        <% @task_board.each do |feature, statuses| %>
          <div style="margin-bottom:1em; border-bottom: 1px dashed #ccc">
            <div style="float:left; width:<%= @column_width %>;">
              <%= feature.user_story %>
              <% link_to project_feature_path(@project.code, feature.id) do %>
                <img src="/images/icons/application_view_detail.png">
              <% end %>
            </div>

            <% statuses.each do |status, tasks| %>
              <div style="float:left; width:<%= @column_width %>;">
                <% for task in tasks %>
                    <div class="task" style="border: 1px solid #ccc; margin: 1pt; padding: 3px"><%= task.description %></div>
                <% end %>
              </div>
            <% end %>
            <div style="clear:both"></div>
          </div>
        <% end %>
    </div>     
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Project Dashboard', project_path(@project.code), :class => 'dashboard' %></li>
    <li><%= link_to 'Sprints', project_sprints_path(@project.code), :class => 'list' %></li>
    <li><%= link_to 'Back to Sprint', project_sprint_path(@project.code, @sprint), :class => 'dashboard' %></li>
  </ul>

  <div class="block">
      <h2>Sprint</h2>
      <% form_for @sprint, :url => { :action => :taskboard } do |f| %>
        <%= f.collection_select(:id, @sprints, :id, :span_date) %>

        <%= f.submit 'Show' %>
      <% end %>
  </div>
</div>