<div id="content">
    <script type="text/javascript">
     $(document).ready(function(){
         $('.desc').tooltip().click(function(){
             window.location = $(this).attr('link');
         });
     });  
    </script>

    <div>
        <% for task_status in @task_statuses %>
         <div style="float:left;width:250px;margin:1pt;">
            <h3 style="background:<%= task_status.color %>; color:white; padding:1px; text-align:center;"><%= task_status.display_name %></h3>
            <% for feature in @features %>
               <% for task in feature.tasks %>
                <% if task_status == task.task_status %> 
                    <div class="desc" style="border:1px solid #ccc; margin:1px 0 1px 0; padding:1px" title="<%= feature.user_story %>"
                        link="<%= project_feature_path(@project.code, feature.id) %>">
                      <%= task.description %>
                    </div>
                <% end %>
               <% end %>
            <% end %>
         </div>
        <% end %>
    </div>     
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Project Dashboard', project_path(@project.code), :class => 'dashboard' %></li>
  </ul>

  <div class="block">
      <h2>Sprint</h2>
      <% form_for :sprint, :url => { :action => :taskboard } do |f| %>
        <%= f.collection_select(:id, @sprints, :id, :span_date) %>

        <%= f.submit 'Show' %>
      <% end %>
  </div>
</div>