<div id="content">
    <script type="text/javascript">
     $(document).ready(function(){
         $('.task-card').corner();
         $('.feature-card').corner();
         $('h3').corner();
     });  
    </script>
  
    <div>
       <%# Display user in cards %>
        <div style="float:left; width:<%= @column_width %>;"><h3>Features</h3></div>
        <% for task_status in @task_statuses %>
            <div style="float:left; width:<%= @column_width %>;">
                <h3 style="background-color: <%= task_status.hash_color %>; text-align:center; color:#fff;">
                  <%= task_status.display_name %>
                </h3>
            </div>
        <% end %>
        <div style="clear:both"></div>
        <% @task_board.each do |feature, statuses| %>
          <div style="margin-bottom:1em; border-bottom: 1px dashed #ccc">
            <div style="float:left; width:<%= @column_width %>;">
              <div class="feature-card">
                <div class="title">
                  <%= link_to project_feature_path(@project.code, feature.id), :title => view_feature_title do %>
                    <img src="/images/icons/application_view_detail.png">
                  <% end %>
                </div>
                <div style="clear:both"></div>
                <div class="desc"><%= feature.user_story %></div>
                <div class="date">Updated: <%= feature.updated_at %></div>
                <div style="clear:both"></div>
              </div>  
            </div>

            <% statuses.each do |status, tasks| %>
            <div style="float:left; width:<%= @column_width %>;">
               <% for task in tasks %>
                   <div class="task-card">
                     <div class="title">PIC: <%= task.user.login %></div>
                     <div style="clear:both"></div>
                     <div class="desc"><%= task.description %></div>
                     <div class="date">Updated: <%= task.updated_at %></div>
                     <div style="clear:both"></div>
                   </div>
               <% end %>
               &nbsp; 
            </div>
            <% end %>
            <div style="clear:both"></div>
          </div>
        <% end %>
    </div>     
</div>

<div id="sidebar">
  <ul id="menu">
    <li><%= link_to 'Show Sprints', project_sprints_path(@project.code), :class => 'list' %></li>
    <li><%= link_to 'Show Sprint', project_sprint_path(@project.code, @sprint), :class => 'dashboard' %></li>
  </ul>

  <div class="block">
      <h2>Select Sprint</h2>
      <%= form_for @sprint, :url => { :action => :taskboard } do |f| %>
        <%= f.collection_select(:id, @sprints, :id, :span_date) %>

        <%= f.submit 'Show' %>
      <% end %>
  </div>
</div>