<%= render 'shared/title/form', :target => @project %>

<div id="content">
  <% if notice %><p class="success"><%= flash[:notice] %></p><%end %>
  
  <%= form_for ([:admin, @project]) do |f| %>
    <%= render "shared/error_messages", :target => @project %>

    <div class="field_wrapper">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field_wrapper">
      <%= f.label :vision %>
      <%= f.text_field :vision, :size => 45 %>
    </div>

    <%= f.submit 'Save', :class=> 'save_btn' %>
    or 
    <% if @project.new_record? then %>
      <%= link_to 'Cancel', admin_path, :confirm => "Are you sure?", :method => :get, :class=> 'cancel_btn' %>
    <% else %>
      <%= link_to 'Cancel', project_path(@project.code), :confirm => "Are you sure?", :method => :get, :class=> 'cancel_btn' %>
    <% end %>
  <% end %>

</div>

<div id="sidebar">
  <ul>
  </ul>
</div>