<div id="content">
    <% form_for @project do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.label :code %><br />
        <%= f.text_field :code, :size => 5, :maxlength => 10 %>
      </p>

      <p>
        <%= f.label :vision %><br/>
        <%= f.text_field :vision, :size => 45 %>
      </p>

      <%= f.submit 'Save' %>
    <% end %>
</div>

<div id="sidebar">
  <ul>
    <% if @project.code then %>
    <li><%= link_to 'Project Dashboard', project_path(@project.code) %></li>
    <% else %>
    <li><%= link_to 'Project List', projects_path %></li>
    <% end %>
  </ul>
</div>