<% content_for :title do %><%= @project.name %>&nbsp;Overview&nbsp;:&nbsp;<%= @current_account.company.name %><% end %>

<div id="content">
  <p class="success"><span ><%= flash[:notice] %></span></p>

  <h1><%= @project.name %>&nbsp;(Code: <%= @project.code %>)</h1>

  <div id="project" style="float:left; margin-right:2em;">
    <p>
      <%= label_tag(:vision) %><br/>
      <%= @project.vision %>
    </p>

    <% unless @manager.nil? %>
      <p>
       <%= label_tag(ProjectRole.manager(@current_account).name) %><br/>
       <%= link_to @manager.email, user_path(@manager) %>
      </p>
    <% else %>
      <p class="info">
        Please ask your administrator to assign a project manager role to a user for this project.
      </p>
    <% end %>
  </div>

  <div style="float:right;">

  <div style="float:left; margin-right:2em;">
  	<h2>Project Members</h2>
  	                                     
  	<% unless @project.project_members.empty? %>
  	<ul>
  	<% @project.project_members.each do |member| %>
  		<li><%= link_to member.user.email, user_path(member.user) %>&nbsp;(<%= member.project_role.name%>)</li>
  	<% end %>
  	</ul>
  	<% else %>
  	  <p class="info">
        No members.
      </p>	
  	<% end %>
  </div>
  
  <div style="float:left; margin-right:2em;">
    <h2>Upcoming Releases</h2>

    <% unless @releases.empty? %>
    <ul>
    <% for release in @releases %>
      <li>
        <%= release.version_number %>
        <%= link_to project_release_path(@project.code, release.id), :title => view_release_title, :rel => :tipsy do %>
            <img src="/images/icons/application_view_detail.png">
        <% end %>
        <%= link_to burndown_project_release_path(@project.code, release.id), :title => release_burndown_title, :rel => :tipsy do %>
            <img src="/images/icons/chart_line.png">
        <% end %>
      </li>
    <% end %>
    </ul>
    <%= link_to 'Show all', project_releases_path(@project.code) %>
    <% else %>
      <p class="info">
        No active releases.
      </p>
    <% end %>
  </div>

  <div style="float:left; margin-right:2em;">
    <h2>Sprints</h2>

    <% unless @sprints.empty? %>
    <ul>
    <% for sprint in @sprints %>
        <li>
          <%= sprint.span_date %>
          <%= link_to project_sprint_path(@project.code, sprint.id), :title => view_sprint_title, :rel => :tipsy do %>
              <img src="/images/icons/application_view_detail.png">
          <% end %>
          <%=link_to burndown_project_sprint_path(@project.code, sprint.id), :title => sprint_burndown_title, :rel => :tipsy do %>
            <img src="/images/icons/chart_line.png">
          <% end %>
          <%= link_to taskboard_project_sprint_path(@project.code, sprint.id), :title => sprint_board_title, :rel => :tipsy do %>
            <img src="/images/icons/table.png">
          <% end %>
        </li>
    <% end %>
    </ul>
    <%= link_to 'Show all', project_sprints_path(@project.code) %>
    <% else %>
      <p class="info">
        No active sprints.
      </p>
    <% end %>
  </div>
  </div>

  <div style="clear:both; margin-bottom:1.5em;"></div>

  <div>
    <h2>Product Features in Current Sprint</h2>
    <%= render :partial => "features/list" %>
    <span style="float:right"><%= link_to 'Show All', project_features_path(@project.code) %></span>
    <div style="clear:both"></div>
  </div>

</div>

<div id="sidebar">
  <ul>
    <%# TODO: Edit and delete only if project manager %>
    <% if can? :manage, @project %>    
    <li><%= link_to 'Edit Project', edit_admin_project_path(@project), :class => 'edit' %></li>
    <li><%= link_to 'Delete Project', admin_project_path(@project), :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></li>
    <% end %>
    <li><%= link_to 'Add New Feature', new_project_feature_path(@project.code), :class => 'add' %></li>
    <li><%= link_to 'Add New Release', new_project_release_path(@project.code), :class => 'add' %></li>
    <li><%= link_to 'Add New Sprint', new_project_sprint_path(@project.code), :class => 'add' %></li>
    <li><%= link_to 'Book a meeting', new_project_meeting_path(@project.code), :class => 'add' %></li>
    <li><%= link_to 'Show Features', project_features_path(@project.code), :class => 'list' %></li>
    <li><%= link_to 'Show Releases', project_releases_path(@project.code), :class => 'list' %></li>
    <li><%= link_to 'Show Meetings', project_meetings_path(@project.code), :class => 'list' %></li>
    <li><%= link_to 'Show Sprints', project_sprints_path(@project.code), :class => 'list' %></li>
    <% unless @sprint.nil? %>
    <li><%= link_to 'Current Sprint Taskboard', taskboard_project_sprint_path(@project.code, @sprint), :class => 'taskboard' %></li>
    <li><%= link_to 'Current Sprint Burndown', burndown_project_sprint_path(@project.code, @sprint), :class => 'chart' %></li>
    <% end %>    
  </ul>
</div>