<div id="content">
  <p class="success"><span ><%= flash[:notice] %></span></p>

  <h1><%= h @project.name %>&nbsp;(Code: <%= h @project.code %>)</h1>

  <div id="project" style="float:left; margin-right:2em;">
      <p>
        <%= label_tag(:vision) %><br/>
        <%= h @project.vision %>
      </p>
      <%# TODO: Add next release, current sprint %>
  </div>

  <div style="float:right;">
  <% unless @releases.empty? %>
  <div style="float:left; margin-right:2em;">
    <h2>Releases</h2>

    <ul>
    <% for release in @releases %>
      <li>
        <%= release.version_number %>
        <% link_to project_release_features_path(@project.code, release.id) do %>
            <img src="/images/icons/application_view_detail.png">
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <% unless @sprints.empty? %>
  <div style="float:left; margin-right:2em;">
    <h2>Sprints</h2>

    <ul>
    <% for sprint in @sprints %>
        <li>
          <%= sprint.span_date %>
            <% link_to project_sprint_features_path(@project.code, sprint.id) do %>
                <img src="/images/icons/application_view_detail.png">
            <% end %>
        </li>
    <% end %>
    </ul>
  </div>
  <% end %>
  </div>

  <div style="clear:both"></div>

  <% unless @features.empty? %>
  <div>
    <h2>Product Features</h2>

    <script type="text/javascript">
      $(document).ready(function(){
        var update_list = function(){
            var accepted = $('#accepted-filter').val();

            $.post('<%= url_for :action => :update_list, :controller => :features %>',
                    {"accepted": accepted, "project_id": <%= @project.id %> }, callback, 'html');
        };  

        $('#filter-button').click(update_list);

        var callback = function(response){
            $('#features').replaceWith(response);
        }
      });
    </script>

    <div>
        <select id="accepted-filter" name="accepted">
          <option value="true">Accepted</option>
          <option value="false">Not Accepted</option>
        </select>
        <button id="filter-button">Show</button>
    </div>   
    <%= render :partial => "features/list" %>
  </div>
  <% end %>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Edit Project', edit_project_path(@project), :class => 'edit' %></li>
    <li><%= link_to 'Delete Project', @project, :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></li>
    <li><%= link_to 'Add New Feature', new_project_feature_path(@project.code), :class => 'add' %></li>
    <li><%= link_to 'Add New Release', new_project_release_path(@project.code), :class => 'add' %></li>
    <li><%= link_to 'Add New Sprint', new_project_sprint_path(@project.code), :class => 'add' %></li>
    <li><%= link_to 'Sprint Taskboard', taskboard_path(@project.code), :class => 'taskboard' %></li>
    <%# TODO: Burndown chart %>
  </ul>
</div>