<div id="content">
  <%= label_tag(:name) %><br />
  <%= h @project.name %><br/>

  <%= label_tag(:code) %><br />
  <%= h @project.code %><br />

  <%= label_tag(:vision) %><br />
  <%= h @project.vision %><br/>
</div>

<div id="sidebar">
    <%= link_to 'Edit Project', edit_project_path(@project) %>
    <%= link_to 'Delete Project', @project, :confirm => 'Are you sure?', :method => :delete %>
</div>