<% content_for :title do %><%= @project.name %>&nbsp;:&nbsp;<%= @current_account.company.name %><% end %>

<div id="content">
  <% if flash[:notice] %><p class="success"><%= flash[:notice] %></p><% end %>

  <div class="left">

    <div id="project-info">
     <h1><%= @project.name %></h1>
      <%= @project.vision %>
    </div>

    <div id="members" class="bbordered">
      <h3>Project Members</h3>

      <% unless @project.project_members.empty? %>
      <ul>
        <% @project.project_members.each do |member| %>
            <li><%= link_to member.user.name, user_path(member.user) %>&nbsp;-&nbsp;<%= member.project_role.name%></li>
        <% end %>
      </ul>
      <% else %>
        <div class="info">
          No members.
        </div>
      <% end %>
      <%= link_to 'Add new Member', new_project_project_member_path(@project.code), :rel => :facebox, :remote => true %>
    </div>

    <div id="releases" class="bbordered">
      <h3>Upcoming Releases</h3>

      <% unless @releases.empty? %>
        <ul>
        <% for release in @releases %>
          <li>
            <%= release.version_number %>&nbsp;<% unless release.estimate_date.nil? %>-&nbsp;(<%= release.estimate_date %>)<% end %>
            <%= link_to project_release_path(@project.code, release.id), :title => view_release_title, :rel => :tipsy do %>
                <img src="/images/icons/application_view_detail.png">
            <% end %>
            <%= link_to burndown_project_release_path(@project.code, release.id), :title => release_burndown_title, :rel => :tipsy do %>
                <img src="/images/icons/chart_line.png">
            <% end %>
          </li>
        <% end %>
        </ul>
      <% else %>
        <p class="info">There is no active release.</p>
      <% end %>
      <%= link_to 'Show all', project_releases_path(@project.code) %>&nbsp;
      <%= link_to 'Add new Release', new_project_release_path(@project.code), :rel => :facebox, :remote => true %>
    </div>

    <div id="sprints" class="bbordered">
      <h3>Upcoming Sprints</h3>
    
      <% unless @sprints.empty? %>
        <ul>
        <% for sprint in @sprints %>
            <li>
              <%= sprint.name %>&nbsp;(<%= sprint.span_date %>)
              <%= link_to project_sprint_path(@project.code, sprint.id), :title => view_sprint_title, :rel => :tipsy do %>
                  <img src="/images/icons/application_view_detail.png">
              <% end %>
              <%=link_to burndown_project_sprint_path(@project.code, sprint.id), :title => sprint_burndown_title, :rel => :tipsy do %>
                <img src="/images/icons/chart_line.png">
              <% end %>
              <%= link_to taskboard_project_sprint_path(@project.code, sprint.id), :title => sprint_board_title, :rel => :tipsy do %>
                <img src="/images/icons/table.png">
              <% end %>
            </li>
        <% end %>
        </ul>
      <% else %>
        <p class="info">There is no active sprint.</p>
      <% end %>
      <%= link_to 'Show all', project_sprints_path(@project.code) %>&nbsp;
      <%= link_to 'Add new Sprint', new_project_sprint_path(@project.code), :rel => :facebox %>
    </div>
  </div>

  <div class="right">
    <div id="sprint" class="bbordered">
      <h2>Current Sprint</h2>
      <% unless @sprint.nil? %>
        <span>
          Current sprint will end in <%= distance_of_time_in_words Time.now, @sprint.end_date %>&nbsp;(<%= @sprint.end_date.to_formatted_s(:notime) %>)
          <%= link_to project_sprint_path(@project.code, @sprint.id), :title => view_sprint_title, :rel => :tipsy do %>
            <img src="/images/icons/application_view_detail.png">
          <% end %>
          <%=link_to burndown_project_sprint_path(@project.code, @sprint.id), :title => sprint_burndown_title, :rel => :tipsy do %>
            <img src="/images/icons/chart_line.png">
          <% end %>
          <%= link_to taskboard_project_sprint_path(@project.code, @sprint.id), :title => sprint_board_title, :rel => :tipsy do %>
            <img src="/images/icons/table.png">
          <% end %>
        </span>
      <% else %>
        <p class="info">There is no active sprint.</p>
      <% end %>
    </div>

    <div id="features" class="bbordered">
    <h3>Product Features</h3>
    <% unless @features.empty? %>
      <table width="100%">
      <% @features.each do |feature| %>
        <%= render 'features', :target => feature %>
      <% end %>
      </table>
    <% else %>
      <p class="info">There is no feature in the current sprint yet.</p>
    <% end %>

    <%= link_to 'Show all', project_features_path(@project.code) %>&nbsp;
    <%= link_to 'Add new Feature', new_project_feature_path(@project.code), :rel => :facebox %>
    </div>
  </div>

</div>

<div id="sidebar">
  <ul id="menu">
    <% if can? :manage, @project %>    
    <li><%= link_to 'Edit Project', edit_admin_project_path(@project.code), :class => 'edit' %></li>
    <li><%= link_to 'Delete Project', admin_project_path(@project), :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></li>
    <% end %>
  </ul>
</div>