<div id="content">
  <p class="success"><span ><%= flash[:notice] %></span></p>
  
  <div id="project">
      <h1><%= h @project.name %> (Code: <%= h @project.code %>)</h1>

      <p>
        <%= label_tag(:vision) %><br/>
        <%= h @project.vision %>
      </p>
  </div>

  <% if @features.length > 0 %>
  <div id="features">
    <h2>Product Features</h2>
    <table>
    <% for feature in @features %>
        <tr>
            <td><%= h feature.user_story %></td>
            <td><%= link_to 'Detail', project_feature_path(@project.code, feature.id) %></td>
        </tr>
    <% end %>
    </table>    
  </div>
  <% end %>

  <%# TODO: Add product releases and sprints list %>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Edit Project', edit_project_path(@project), :class => 'edit' %></li>
    <li><%= link_to 'Delete Project', @project, :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></li>
    <li><%= link_to 'Add New Feature', new_project_feature_path(@project.code), :class => 'add' %></li>
    <li><%= link_to 'Add New Release', new_project_release_path(@project.code), :class => 'add' %></li>
    <li><%= link_to 'Add New Sprint', new_project_sprint_path(@project.code), :class => 'add' %></li>
  </ul>
</div>