<% content_for :title do %>Admin&nbsp;:&nbsp;<%= controller_name.humanize %><% end %>

<div id="content">
    <script type="text/javascript">
      $(document).ready(function(){
        <%# TODO: DRY up this javascript %> 
        var update_position = function(id, direction){
            $.post('<%= url_for :action => :update_position, :controller => :feature_statuses %>',
                    {"id": id, "direction": direction }, callback, 'html');
        }

        var click_up = function(){
            var id = $(this).parent().parent().prev().val();

            update_position(id, 'up');
        }

        var click_down = function(){
            var id = $(this).parent().parent().prev().val();

            update_position(id, 'down');
        }

        var callback = function(response){
            $('#feature-statuses').replaceWith(response);

            $('.up').bind('click', click_up);

            $('.down').bind('click', click_down);
        };

        $('.up').bind('click', click_up);

        $('.down').bind('click', click_down);
      });
    </script>

    <p class="success"><span><%= flash[:notice] %></span></p>

    <div class="left">
     <% form_for([:admin, @feature_status], :remote => true) do |f| %>
        <%= render "shared/error_messages", :target => @feature_status %>

        <div class="field_wrapper">
          <%= f.label :display_name %>
          <%= f.text_field :display_name %>
        </div>

        <!--<div class="field_wrapper">-->
          <!--<%#= f.label :key %>-->
          <!--<%#= f.text_field :key %>-->
        <!--</div>-->

        <div>
          <%#= f.check_box :default %>
          <%#= f.label :default?, 'Default Status' %>
        </div>

        <div class="field_wrapper">
          <%= f.label :color, 'Background color' %>
          <%= f.text_field :color, :size => 7, :maxlength => 7 %>
        </div>

        <div class="actions">
          <%= f.submit 'Save', :class=> 'save_btn' %>
        </div>
     <% end %>
    </div>

    <div class="right">
      <%= render :partial => "list" %>
    </div>
</div>

<div id="sidebar">
  <%= render :partial => 'admin/menu' %>
</div>