<div id="content">
    <p class="success"><span><%= flash[:notice] %></span></p>
    <script type="text/javascript">
      $(document).ready(function(){
        $('span.status').corner();
      });
    </script>
    <div>
        <p>
          <%= label_tag :display_name %><br />
          <%= @feature_status.display_name %>
        </p>

        <p>
          <%= label_tag :key %><br />
          <%= @feature_status.key %>
        </p>

        <p>
          <%= label_tag :default_status %><br />
          <%= @feature_status.default_status %>
        </p>

        <p>
          <%= label_tag :color, 'Background color' %><br />
          <span style="padding:2px;background-color:<%= @feature_status.hash_color %>" class="status"><%= @feature_status.color %></span>
        </p>
    </div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Feature Statuses', admin_feature_statuses_path, :class => 'list' %></li>
    <li><%= link_to 'Edit Feature Status', edit_admin_feature_status_path(@feature_status), :class => 'edit'  %></li>
    <li><%= link_to 'Delete Feature Status', admin_feature_status_path(@feature_status),
                :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></li>
  </ul>    
</div>