<div id="content">
	<p class="success"><span><%= flash[:notice] %></span></p>
	
    <% form_for ([:admin, @user]) do |f| %>
      <%= f.error_messages %>
	
	<p>
      <%= f.label :login %><br />
      <%= f.text_field :login %>
    </p>
    
    <p>
      <%= f.label :password, f.object.new_record? ? nil : "Change password" %><br />
      <%= f.password_field :password %>
    </p>
    
    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </p>
    
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %><br />
    </p>

    <%= f.submit 'Save', :class=> 'save_btn' %>
    <% end %>
    <% if @user.new_record? then %>
        <%= button_to 'Cancel', admin_users_path, :confirm => "Are you sure?", :method => :get, :class=> 'cancel_btn' %>
    <% else %>
        <%= button_to 'Cancel', admin_user_path(@user), :confirm => "Are you sure?", :method => :get, :class=> 'cancel_btn' %>
    <% end %>
</div>

<div id="sidebar">
    <ul>
      <% if @user.new_record? %>
      <li><%= link_to 'Users', admin_users_path, :class => 'list' %></li>
      <% else %>
      <li><%= link_to 'User Details', admin_user_path(@user), :class => 'list' %></li>
      <% end %>    
    </ul>
</div> 