<%= render 'shared/title/form', :target => @release %>

<div id="content">
  <div id="task">
      <% form_for @release, :url => project_release_path(@project.code, @release) do |f| %>
        <%= render "shared/error_messages", :target => @release %>
        <p>
          <%= f.label :version_number %><br />
          <%= f.text_field :version_number, :size => 10 %>
        </p>

        <p>
          <%= f.label :estimate_date, 'Estimate release date' %><br />
          <%#= f.date_select :estimate_date, :order => [:day, :month, :year] %>
          <%= f.text_field :estimate_date %>
        </p>

        <p>
          <%= f.label :goal, 'Release goal' %><br />
          <%= f.text_field :goal, :size => 45 %>
        </p>

        <p>
          <%= f.submit 'Save', :class=> 'save_btn' %>
        </p>
      <% end %>

      <%= button_to 'Cancel', project_releases_path(@project.code), :confirm => "Are you sure?", :method => :get, :class=> 'cancel_btn' %>
  </div>

</div>

<div id="sidebar">
  <ul>
  </ul>
</div>