<div id="content">
  <p class="success"><span ><%= flash[:notice] %></span></p>

  <% unless @release.released_at.nil? %>
  <p class="info">
    This release was released at <%= @release.released_at %>.
  </p>
  <% end %>

  <div style="float:left;width:80%">
    <h1>
      Product Features for <%= @project.name %>
    </h1>
    <%= render :partial => "features/list" %>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
        $('#info-box').corner();
    });
  </script>

  <div style="float:right; width:18%;">
    <div id="info-box">
        <strong>Project:</strong>&nbsp;<%= @project.name %><br/>
        <strong>Release:</strong>&nbsp;<%= @release.version_number %><br/>
        <strong>Estimate release date:</strong> <%= @release.estimate_date %><br/>
        <% if not @release.goal.nil? %><strong>Goal:</strong>&nbsp;<%= @release.goal %><% end %>
    </div>

    <h3 style="margin-top:1em;">Sprints in this release</h3>
    <ul>
      <% @release.sprints.each do |sprint| %>
        <li>
          <%= sprint.span_date %>
          <% link_to project_sprint_path(@project.code, sprint.id) do %>
              <img src="/images/icons/application_view_detail.png">
          <% end %>
          <% link_to burndown_project_sprint_path(@project.code, sprint.id) do %>
            <img src="/images/icons/chart_line.png">
          <% end %>
          <% link_to taskboard_project_sprint_path(@project.code, sprint.id) do %>
            <img src="/images/icons/table.png">
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div style="clear:both"></div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Project Dashboard', project_path(@project.code), :class => 'dashboard' %></li>
    <li><%= link_to 'Releases', project_releases_path(@project.code), :class => 'list' %></li>
    <% if @release.released_at.nil? %>
    <li><%= link_to 'Edit Release', edit_project_release_path(@project.code, @release), :class => 'edit' %></li>
    <li><%= link_to 'Release Project', release_project_release_path(@project.code, @release), :class => 'accept', :method => :put, 
                    :confirm => "Are you sure?" %></li>
    <% end %>
    <li><%= link_to 'Release Burndown', burndown_project_release_path(@project.code, @release), :class => 'chart' %></li>
  </ul>
  <%# TODO: Add meeting link %>
</div>