<div id="content">
  <% if flash[:notice] %><p class="success"><%= flash[:notice] %></p><% end %>

  <% unless @release.released_at.nil? %>
  <p class="info">
    This release was released at <%= @release.released_at %>.
  </p>
  <% end %>

  <%= render :partial => "features/list" %>
</div>

<div id="sidebar">
  <div class="box">
    <strong>Release:</strong>&nbsp;<%= @release.version_number %><br/>
    <% unless @release.estimate_date.nil? %><strong>Estimate release date:</strong> <%= @release.estimate_date.to_formatted_s(:notime) %><br/><% end %>
    <% unless @release.goal.nil? %><strong>Release Goal:</strong>&nbsp;<%= @release.goal %><% end %>
  </div>

  <ul id="menu">
    <li><%= link_to 'Show Releases', project_releases_path(@project.code), :class => 'list' %></li>
    <% if @release.released_at.nil? %>
    <li><%= link_to 'Edit Release', edit_project_release_path(@project.code, @release), :class => 'edit' %></li>
    <li><%= link_to 'Release Project', release_project_release_path(@project.code, @release), :class => 'accept', :method => :put, 
                    :confirm => "Are you sure?" %></li>
    <% end %>
    <li><%= link_to 'Release Burndown', burndown_project_release_path(@project.code, @release), :class => 'chart' %></li>
  </ul>

  <h3 style="margin-top:1em;">Sprints in this release</h3>
  <ul>
    <% unless @release.sprints.empty? %>
    <% @release.sprints.each do |sprint| %>
      <li>
        <%= sprint.span_date %>
        <%= link_to project_sprint_path(@project.code, sprint.id), :title => view_sprint_title, :rel => :tipsy do %>
          <img src="/images/icons/application_view_detail.png">
        <% end %>
        <%= link_to burndown_project_sprint_path(@project.code, sprint.id), :title => sprint_burndown_title, :rel => :tipsy do %>
          <img src="/images/icons/chart_line.png">
        <% end %>
        <%= link_to taskboard_project_sprint_path(@project.code, sprint.id), :title => sprint_board_title, :rel => :tipsy do %>
          <img src="/images/icons/table.png">
        <% end %>
      </li>
    <% end %>
    <% else %>
      <strong>No sprints in this release yet.</strong>
    <% end %>
  </ul>
</div>