<%= javascript_include_tag 'jquery.comboEdit' %>
<script type="text/javascript">
    $(document).ready(function(){
        var callback_status = function(data){
            var feature_status = data.feature_status.feature_status;
            var feature = data.feature.feature;

            var original = $('#feature_' + feature.id + " .status");
            var clone = original.clone();
            clone = clone.empty().append(feature_status.display_name);
            clone.css('background-color', '#'+feature_status.color);
            clone.click(onClickStatus);
            original.replaceWith(clone);
        }
        
        var onClickStatus = function(){
            var feature_id = $(this).parent().find(".feature-id").val();

            var clone = $(this).clone();
            var current = $(this);

            $.post("<%= url_for :action => :get_options, :controller => :feature_statuses %>", {feature_id: feature_id}, function(response){
                current.replaceWith(response);

                $(".status option").click(function () {
                    var status_id = $(this).val();

                    $.post("<%= url_for :action => :update_status, :controller => :features %>",
                        {"status_id": status_id, "id": feature_id },
                        callback_status, "json");
                });
                
            }, 'html');

        };

        $('.status').click(onClickStatus);

        $('.release').comboEdit({
            getComboBoxURL: "<%= url_for :action => :get_options, :controller => :releases %>",
            submitURL: "<%= url_for :action => :update_release, :controller => :features %>",
            parentIdClass: 'feature-id'
        });

        $('.sprint').comboEdit({
            getComboBoxURL: "<%= url_for :action => :get_options, :controller => :sprints %>",
            submitURL: "<%= url_for :action => :update_sprint, :controller => :features %>",
            parentIdClass: 'feature-id'
        });

    });    

 </script>
<table width="100%" id="features">
    <tr>
      <th>User Story</th>
      <th>Status</th>
      <th>Sprint</th>
      <th>Release</th>
      <th>Story points</th>
      <th>Biz value</th>
      <th>Priority</th>
    </tr>
      
    <% unless @features.empty? %>
    <% for feature in @features %>
    <tr id="feature_<%=feature.id %>">
        <input type="hidden" class="feature-id" name="feature-id" value="<%= feature.id %>"/>
        <td>
          <%= feature.user_story %>
          <% link_to project_feature_path(@project.code, feature) do %>
            <img src="/images/icons/application_view_detail.png">
          <% end %>
        </td>
        <td class="status" style="text-align:center;background-color:<%= '#' + feature.feature_status.color %>">
          <%= feature.feature_status.display_name %>
        </td>
        <td class="sprint" style="text-align:center;">
          <% unless feature.sprint.nil? %>
            <%= feature.sprint.span_date %>
             <% link_to project_sprint_path(@project.code, feature.sprint) do %>
             <img src="/images/icons/application_view_detail.png">
            <% end %>
          <% end %>
        </td>
        <td class="release" style="text-align:center;">
          <% unless feature.release.nil? %>
            <%= feature.release.version_number %>
              <% link_to project_release_path(@project.code, feature.release) do %>
              <img src="/images/icons/application_view_detail.png">
            <% end %>
          <% end %>
        </td>
        <td style="text-align:center;"><%= feature.story_points %></td>
        <td style="text-align:center;"><%= feature.business_value %></td>
        <td style="text-align:center;"><%= feature.priority %></td>
    </tr>
    <% end %>
    <% end %>      
</table>