<script type="text/javascript">
    $(document).ready(function(){
        $('input:checkbox[name=features]').click(function(){
            var feature_id = $(this).val();

            $.post('<%= url_for :action => :accept, :controller => :features %>',
                   {"id" : feature_id}, 'json');
        });
    });
</script>

<table width="100%" id="features">
    <tr>
      <th>&nbsp;</th>
      <th>User Story</th>
      <th>Sprint</th>
      <th>Release</th>
      <th>Story points</th>
      <th>Biz value</th>
      <th>Priority</th>
    </tr>
      
    <% unless @features.empty? %>
    <% for feature in @features %>
    <tr>
        <td><%= check_box_tag :features, feature.id, feature.accepted %></td>
        <td>
          <%= feature.user_story %>
          <% link_to project_feature_path(@project.code, feature) do %>
            <img src="/images/icons/application_view_detail.png">
          <% end %>
        </td>
        <td>
          <%= feature.sprint.span_date %>
          <% link_to project_sprint_path(@project.code, feature.sprint) do %>
            <img src="/images/icons/application_view_detail.png">
          <% end %>
          <%# TODO: Add combobox ajax update if null/empty %>
        </td>
        <td>
          <%= feature.release.version_number %>
          <% link_to project_release_path(@project.code, feature.release) do %>
            <img src="/images/icons/application_view_detail.png">
          <% end %>
          <%# TODO: Add combobox ajax update if null/empty %>
        </td>
        <td style="text-align:center;"><%= feature.story_points %></td>
        <td style="text-align:center;"><%= feature.business_value %></td>
        <td style="text-align:center;"><%= feature.priority %></td>
    </tr>
    <% end %>
    <% end %>      
</table>