<script type="text/javascript">
    $(document).ready(function(){
        
        $('.status').comboEdit({
            getComboBoxURL: "<%= url_for :action => :get_options, :controller => :feature_statuses %>",
            submitURL: "<%= url_for :action => :update_status, :controller => :features %>",
            parentIdClass: 'feature-id'
        });

        $('.release').comboEdit({
            getComboBoxURL: "<%= url_for :action => :get_options, :controller => :releases %>",
            submitURL: "<%= url_for :action => :update_release, :controller => :features %>",
            parentIdClass: 'feature-id'
        });

        $('.sprint').comboEdit({
            getComboBoxURL: "<%= url_for :action => :get_options, :controller => :sprints %>",
            submitURL: "<%= url_for :action => :update_sprint, :controller => :features %>",
            parentIdClass: 'feature-id'
        });

    });    

 </script>
<table width="100%" id="features">
    <tr>
      <th>User Story</th>
      <th>Status</th>
      <th>Sprint</th>
      <th>Release</th>
      <th>Story points</th>
      <th>Biz value</th>
      <th>Priority</th>
    </tr>
      
    <% unless @features.empty? %>
    <% for feature in @features %>
    <tr id="feature_<%=feature.id %>">
        <input type="hidden" class="feature-id" name="feature-id" value="<%= feature.id %>"/>
        <td>
          <%= feature.user_story %>
          <%= link_to project_feature_path(@project.code, feature), :title => view_feature_title, :rel => :tipsy do %>
            <img src="/images/icons/application_view_detail.png">
          <% end %>
        </td>
        <td class="status" style="text-align:center;background-color:<%= feature.feature_status.hash_color %>">
          <%= feature.feature_status.display_name %>
        </td>
        <td style="text-align:center;">
          <% unless feature.sprint.nil? %>
            <span class="sprint"><%= feature.sprint.span_date %></span>
            <%= link_to project_sprint_path(@project.code, feature.sprint), :title => view_sprint_title, :rel => :tipsy do %>
             <img src="/images/icons/application_view_detail.png">
            <% end %>
          <% else %>
            <div class="sprint">&nbsp;</div>
          <% end %>
        </td>
        <td style="text-align:center;">
          <% unless feature.release.nil? %>
            <span class="release"><%= feature.release.version_number %>&nbsp;</span>
            <%= link_to project_release_path(@project.code, feature.release), :title => view_release_title, :rel => :tipsy do %>
              <img src="/images/icons/application_view_detail.png">
            <% end %>
          <% else %>
            <div class="release">&nbsp;</div>    
          <% end %>
        </td>
        <td class="number"><%= feature.story_points %></td>
        <td class="number"><%= feature.business_value %></td>
        <td class="number"><%= feature.priority.level %></td>
    </tr>
    <% end %>
    <% end %>      
</table>