<% unless @features.empty? %>
    <%# TODO: Accept features from here %>
    <script type="text/javascript">
        $(document).ready(function(){
            $('input:checkbox[name=features]').click(function(){
                var feature_id = $(this).val();

                $.post('<%= url_for :action => :accept, :controller => :features %>',
                       {"id" : feature_id}, 'json');
            });
        });
    </script>

    <table width="100%" id="features">
    <tr>
      <th>&nbsp;</th>
      <th>User Story</th>
      <th>Story points</th>
      <th>Biz value</th>
      <th>Priority</th>
      <th>&nbsp;</th>
    </tr>

    <% for feature in @features %>
    <tr>
        <td><%= check_box_tag :features, feature.id, feature.accepted %></td>
        <td><%= h feature.user_story %></td>
        <td style="text-align:center;"><%= h feature.story_points %></td>
        <td style="text-align:center;"><%= h feature.business_value %></td>
        <td style="text-align:center;"><%= h feature.priority %></td>
        <td>
          <% link_to project_feature_path(@project.code, feature.id) do %>
            <img src="/images/icons/application_view_detail.png">
          <% end %>
        </td>
    </tr>
    <% end %>
    </table>
<% else %>
    <p class="info">
    There are no features yet.
    </p>
<% end %>