<div id="content">
  <% form_for @feature, :url => project_feature_path(@project.code, @feature.id)  do |f| %>
    <%= f.error_messages %>

    <p>
        <%= f.label :user_story %><br/>
        <%= f.text_area :user_story, :rows => 4 %><br/>
    </p>

    <p>
        <%= f.label :business_value %><br/>
        <%= f.text_field :business_value, :size => 6 %><br/>
    </p>

    <p>
        <%= f.label :estimate_size %><br/>
        <%= f.text_field :estimate_size, :size => 6 %><br/>
    </p>

    <p>
        <%= f.label :priority %><br/>
        <%= f.text_field :priority, :size => 6 %><br/>
    </p>

    <p>
        <%= f.label :sprints %><br/>
        <%= f.collection_select(:sprint, @sprints, :id, :span_date, {:include_blank => true, :selected => @feature.sprint ? @feature.sprint.id : @feature.sprint}) %>
    </p>

    <p>
        <%= f.label :releases %><br/>
        <%= f.collection_select(:release, @releases, :id, :version_number, {:include_blank => true, :selected => @feature.release ? @feature.release.id : @feature.release}) %>
    </p>

    <%= f.submit 'Save', :class=> 'save_btn' %>
  <% end %>
  <% unless @feature.id == nil %>
    <%= button_to 'Cancel', project_feature_path(@project.code, @feature.id), :confirm => "Are you sure?", :method => :get, :class=> 'cancel_btn' %>
  <% else %>     
    <%= button_to 'Cancel', project_path(@project.code), :confirm => "Are you sure?", :method => :get, :class=> 'cancel_btn' %>
  <% end %>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Project Dashboard', project_path(@project.code), :class => 'dashboard' %></li>
    <li><%= link_to 'Back to Feature', project_feature_path(@project.code, @feature.id), :class => 'dashboard' %></li>
    <%# TODO: Add link to go back to feature detail %>
  </ul>
</div>