<div id="content">
  <script type="text/javascript">
    $(document).ready(function(){
        $(':input').tooltip({
            position: "center right",
            offset: [-2, 10],
            effect: "fade",
            opacity: 0.7,
            tip: '.tooltip'

        });
    });
  </script>

  <% form_for @feature, :url => project_feature_path(@project.code, @feature.id)  do |f| %>
    <%= f.error_messages %>

    <p>
        <%= f.label :user_story %><br/>
        <%= f.text_area :user_story, :rows => 4, :title => user_story_tip %><br/>
    </p>

    <p>
        <%= f.label :business_value %><br/>
        <%= f.text_field :business_value, :size => 12, :title => business_value_tip %><br/>
    </p>

    <p>
        <%= f.label :story_points %><br/>
        <%= f.text_field :story_points, :size => 12, :title => story_points_tip %><br/>
    </p>

    <p>
        <%= f.label :priority_level %><br/>
        <%= f.collection_select(:priority_id, @priorities, :id, :priority_level, {:include_blank => true}, :title => priority_tip) %>
    </p>

    <p>
        <%= f.label :sprint %><br/>
        <%= f.collection_select(:sprint_id, @sprints, :id, :span_date, {:include_blank => true}, :title => 'Sprint for implementing this feature') %>
    </p>

    <p>
        <%= f.label :release_version %><br/>
        <%= f.collection_select(:release_id, @releases, :id, :version_number, {:include_blank => true}, :title => 'Planned release for this feature') %>
    </p>

    <%= f.submit 'Save', :class=> 'save_btn', :title => save_button_tip %>
  <% end %>
  <% unless @feature.id == nil %>
    <%= button_to 'Cancel', project_feature_path(@project.code, @feature.id), :confirm => "Are you sure?", :method => :get, :class=> 'cancel_btn',
                  :title => cancel_button_tip %>
  <% else %>     
    <%= button_to 'Cancel', project_path(@project.code), :confirm => "Are you sure?", :method => :get, :class=> 'cancel_btn',
                  :title => cancel_button_tip %>
  <% end %>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Project Dashboard', project_path(@project.code), :class => 'dashboard' %></li>
    <li><%= link_to 'Feature Dashboard', project_feature_path(@project.code, @feature.id), :class => 'dashboard' %></li>
  </ul>
</div>