<% content_for :title do %><%= @project.name %>&nbsp;Features&nbsp;:&nbsp;<%= @current_account.company.name %><% end %>

<div id="content">
  <h1><%= @project.name %>&nbsp;Features    </h1>
  
  <div class="panel">
    <% form_for @feature, :url => project_features_path(@project.code), :html => { :method => :get }  do |f| %>
        <p style="float:left;">
            <%= f.label :user_story %><br/>
            <%= f.text_field :user_story %>
        </p>

         <p style="float:left; margin-left: 5em;">
            <%= f.label :status %><br/>
            <%= f.collection_select(:feature_statuses_id, @feature_statuses, :id, :display_name, {:include_blank => true}) %>
        </p>

        <p style="float:left; margin-left: 5em;">
            <%= f.label :priority_level %><br/>
            <%= f.collection_select(:priority_id, @priorities, :id, :priority_level, {:include_blank => true}) %>
        </p>

        <p style="float:left; margin-left: 5em;">
            <%= f.label :release_version %><br/>
            <%= f.collection_select(:release_id, @releases, :id, :version_number, {:include_blank => true}) %>
        </p>

        <p style="float:left; margin-left: 5em;">
          <%= f.label :sprint %><br/>
          <%= f.collection_select(:sprint_id, @sprints, :id, :span_date, {:include_blank => true}) %>
        </p>

        <div style="clear:both"></div>

        <p>
            <%= f.submit 'Search' %>
        </p>

    <% end %>
  </div>

  <h1 style="margin-top:2em;">Listing Product Features</h1>
  <%= render :partial => "features/list" %>
  <%= will_paginate @features %>
  
  <div style="clear:both"></div>
</div>

<div id="sidebar">
  <ul id="menu">
    <li><%= link_to 'Add New Feature', new_project_feature_path(@project.code), :class => 'add' %></li>
  </ul>  
</div>