<div id="content">
    <p class="success"><span ><%= flash[:notice] %></span></p>
    
    <div id="feature" style="float:left">
      <div class="card">
        <div class="title"><strong>Business value</strong></div>
        <h2><%= h @feature.business_value %></h2>
      </div>

      <div class="card">
        <div class="title"><strong>Estimate size</strong></div>
        <h2 style="text-align:center"><%= h @feature.estimate_size %></h2>
      </div>

      <div class="card">
        <div class="title"><strong>Priority value</strong></div>
        <h2 style="text-align:center"><%= h @feature.priority %></h2>
      </div>

      <div style="clear:both; margin-bottom:1em;"></div>

      <% if @feature.release %>
      <p>

        <%= label_tag (:release) %><br/>
        <%= link_to @feature.release.version_number, project_release_features_path(@project.code, @feature.release.id) %>
      </p>
      <% else %>
      <p class="info">
        No release has been assigned to this feature.
        <%# TODO: Add combo to assign release. Only future release %>
      </p>
      <% end %>

      <% if @feature.sprint %>
      <p>
        <%= label_tag (:sprint) %><br/>
        <%= link_to @feature.sprint.span_date, project_sprint_features_path(@project.code, @feature.sprint.id) %>
      </p>
      <% else %>
      <p class="info">
        This feature is not in a sprint.
        <%# TODO: Add to next sprint button. Make sure next sprint has been created. %>
      </p>
      <% end %>

      <p>
        <%= label_tag (:user_story) %><br/>
        <%= h @feature.user_story %>
      </p>

      <p>
        <%= label_tag (:acceptance_test) %><br/>
        <%= h @feature.acceptance_test %>
      </p>
    </div>

    <script type="text/javascript">

      <%# TODO: Generalize this and make a jQuery extension for it? %>  
      $(document).ready(function(){
        var update_desc = function(/** String */ id){
              var desc = $('#desc_' + id).val();

              $.post("<%= url_for :action => :update_desc, :controller => :tasks %>",
                { "desc": desc, "id": id },
                callback, "json");
          };

        $.update_desc = update_desc;

        var click_desc = function(){
            // Get the id of this record by the id of table row element
            var id = $(this).parent('tr').attr('tid');

            var input_id = "desc_" + id;

            <%# TODO: Save on enter instead of using button %>
            var replacement = "<input id=\""+input_id+"\" class=\"inline\" type=\"text\" value=\""+$(this).text()+"\">"
                   + "<input type=\"submit\" class=\"save_btn\" value=\"Save\" onclick=\"$.update_desc('"+id+"');\"/>";

            var clone = $(this).clone();
            clone = clone.empty().append(replacement);
            $(this).replaceWith(clone);
        };

        $('.desc').click(click_desc);

        var callback = function(data){
            var task = data.task;
            var replacement = "<td class=\"desc\">"+task.description+"</td>";

            var original = $('#task_' + task.id + " .desc");
            var clone = original.clone();
            clone = clone.empty().append(task.description);
            original.replaceWith(clone);
            
            $('.desc').click(click_desc);
        }

        var click_status = function(){
            var tid = $(this).parent('tr').attr('tid');

            console.log("task id = " +tid);
            console.log($(this).html());
            var replacement = "";
        };


        $('.status').click(click_status);

      });
      
    </script>

    <div style="float:left; margin-left:1em;">  
    <h2>Tasks for this feature</h2>

    <table id="tasks" width="100%">
    <% for task in @tasks %>
        <tr id="task_<%= h task.id %>" tid="<%= h task.id %>">
            <td class="desc"><%= h task.description %></td>
            <td width="30%" style="background-color:#<%= h task.task_status.color %>" class="status <%= h task.task_status.key %>" >
              <%= h task.task_status.display_name %>
            </td>
            <td>
                <% link_to project_feature_task_path(@project.code, @feature.id, task.id),
                            :confirm => 'Are you sure?', :method => :delete do %>
                    <img src="/images/icons/delete.png">
                <% end %>
            </td>
        </tr>
    <% end %>      
    </table>
    </div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Project Dashboard', project_path(@project.code), :class => 'dashboard' %></li>
    <li><%= link_to 'Edit Feature', edit_project_feature_path(@project.code, @feature.id), :class => 'edit' %></li>
    <li><%= link_to 'Delete Feature', project_feature_path(@project.code, @feature.id),
                :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></li>
    <li><%= link_to 'Add Task', new_project_feature_task_path(@project.code, @feature.id), :class => 'add', :rel => 'facebox' %></li>
  </ul>
</div>