<div id="content">
    <p class="success"><span ><%= flash[:notice] %></span></p>
    
    <div id="feature" style="float:left; width:45%;">
      <div class="card">
        <div class="title"><strong>Business value</strong></div>
        <h2><%= h @feature.business_value %></h2>
      </div>

      <div class="card">
        <div class="title"><strong>Story points</strong></div>
        <h2 style="text-align:center"><%= h @feature.story_points %></h2>
      </div>

      <div class="card">
        <div class="title"><strong>Priority value</strong></div>
        <h2 style="text-align:center"><%= h @feature.priority %></h2>
      </div>

      <div style="clear:both; margin-bottom:1em;"></div>

      <% if @feature.release %>
      <p>
        <%= label_tag (:release) %><br/>
        <%= @feature.release.version_number %>
        <% link_to project_release_features_path(@project.code, @feature.release.id) do %>
          <img src="/images/icons/application_view_detail.png">
        <% end %>
      </p>
      <% else %>
      <p class="info">
        No release has been assigned to this feature. Assign it from <%= link_to 'here', edit_project_feature_path(@project.code, @feature.id) %>.
      </p>
      <% end %>

      <% if @feature.sprint %>
      <p>
        <%= label_tag (:sprint) %><br/>
        <%= @feature.sprint.span_date %>
        <% link_to project_sprint_features_path(@project.code, @feature.sprint.id) do %>
          <img src="/images/icons/application_view_detail.png">
        <% end %>
      </p>
      <% else %>
      <p class="info">
        No sprint has been assigned to this feature. Assign it from <%= link_to 'here', edit_project_feature_path(@project.code, @feature.id) %>.
      </p>
      <% end %>

      <p>
        <%= label_tag (:user_story) %><br/>
        <%= h @feature.user_story %>
      </p>

      <script type="text/javascript">
        $(document).ready(function(){
            $('input:checkbox[name=acceptances]').click(function(){
                var acceptance_id = $(this).val();

                $.post('<%= url_for :action => :update_acceptance, :controller => :acceptances %>',
                       {"acceptance_id" : acceptance_id}, null, 'json');
            });   
        });
      </script>

      <h2>Acceptance Tests</h2>
      <table>
      <% for acceptance in @acceptances %>
      <tr>
        <td><%= check_box_tag :acceptances, acceptance.id, acceptance.accepted, :id => 'acceptance_' + acceptance.id.to_s %></td>
        <td><%= acceptance.description %></td>
        <td width="10%" style="text-align:center;"><%# TODO: link image background should not be black %>
            <% link_to project_feature_acceptance_path(@project.code, @feature.id, acceptance.id),
                        :confirm => 'Are you sure?', :method => :delete do %>
                <img src="/images/icons/delete.png">
            <% end %>
        </td>
      </tr>
      <% end %>
      </table>    
    </div>

    <script type="text/javascript">

      $(document).ready(function(){

        $('.desc').inlineEdit({
            'url': "<%= url_for :action => :update_desc, :controller => :tasks %>",
            'name': 'task-id'
        });

        var click_status = function(){
            var task_id = $(this).parent().find(".task-id").val();

            var clone = $(this).clone();
            var current = $(this);

            $.post("<%= url_for :action => :get_options, :controller => :task_statuses %>", {task_id: task_id}, function(response){
                current.replaceWith(response);

                $(".status option").click(function () {
                    var status_id = $(this).val();

                    $.post("<%= url_for :action => :update_status, :controller => :tasks %>",
                        {"status_id": status_id, "id": task_id },
                        callback_status, "json");
                });

            }, 'html');

        };

        $('.status').click(click_status);

        var callback_status = function(data){
            var task_status = data.task_status.task_status;
            var task = data.task.task;
            
            var original = $('#task_' + task.id + " .status");
            var clone = original.clone();
            clone = clone.empty().append(task_status.display_name);
            clone.css('background-color', task_status.color);
            clone.click(click_status);
            original.replaceWith(clone);
        }

      });
      
    </script>

    <div style="float:left; margin-left:1em; width:45%">
    <% unless @tasks.empty? %>
        <h2>Tasks for this feature</h2>
    
        <table id="tasks" width="100%">
        <% for task in @tasks %>
            <tr id="task_<%= h task.id %>">
                <input type="hidden" class="task-id" name="task-id" value="<%= h task.id %>"/>
                <td width="60%" class="desc"><%= h task.description %></td>
                <td width="20%" class="status <%= h task.task_status.key %>" style="background-color:<%= h task.task_status.color %>">
                  <input type="hidden" class="tsid" name="task_status_id" value="<%= h task.task_status.id %>" />
                  <span><%= h task.task_status.display_name %></span>
                </td>
                <td width="10%" style="text-align:center;"><%# TODO: link image background should not be black %>
                    <% link_to project_feature_task_path(@project.code, @feature.id, task.id),
                                :confirm => 'Are you sure?', :method => :delete do %>
                        <img src="/images/icons/delete.png">
                    <% end %>
                </td>
            </tr>
        <% end %>
        </table>
    <% else %>
        <p class="info">No tasks for this feature.</p>      
    <% end %>

    </div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Project Dashboard', project_path(@project.code), :class => 'dashboard' %></li>
    <li><%= link_to 'Edit Feature', edit_project_feature_path(@project.code, @feature.id), :class => 'edit' %></li>
    <li><%= link_to 'Delete Feature', project_feature_path(@project.code, @feature.id),
                :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></li>
    <li><%= link_to 'Add Task', new_project_feature_task_path(@project.code, @feature.id), :class => 'add', :rel => 'facebox' %></li>
    <li><%= link_to 'Add Acceptance Test', new_project_feature_acceptance_path(@project.code, @feature.id), :class => 'add', :rel => 'facebox' %></li>
    <%# TODO: Taskboard link should autopopulate with the current assigned sprint %>
    <li><%= link_to 'Sprint Taskboard', taskboard_path(@project.code), :class => 'taskboard' %></li>
  </ul>
</div>