<% content_for :title do %>
    <title>
      <%= @project.name %>&nbsp;<%= controller.action_name.capitalize %>&nbsp;<%= controller.controller_name.capitalize %> - Projexion
    </title>
<% end %> 
<div id="content">
    <p class="success"><span ><%= flash[:notice] %></span></p>
    
    <div id="feature" style="float:left; width:45%;">

      <script type="text/javascript">
        $(document).ready(function(){
            $('.card').corner();
            $('.status').corner();
        });
      </script>

      <div class="feature status" style="background-color:<%= @feature.feature_status.hash_color %>">
        <%= @feature.feature_status.display_name %>
      </div>

      <div class="card">
        <div class="title"><strong>Business value</strong></div>
        <h2><%= h @feature.business_value %></h2>
      </div>

      <div class="card">
        <div class="title"><strong>Story points</strong></div>
        <h2 style="text-align:center"><%= h @feature.story_points %></h2>
      </div>

      <div class="card">
        <div class="title"><strong>Priority level</strong></div>
        <h2 style="text-align:center"><%= h @feature.priority.level %></h2>
      </div>

      <div style="clear:both; margin-bottom:1em;"></div>

      <% if @feature.release %>
      <p>
        <%= label_tag (:release) %><br/>  <%#TODO: Inline combo edit %>
        <%= @feature.release.version_number %>
        <% link_to project_release_path(@project.code, @feature.release.id), :title => view_release_title do %>
          <img src="/images/icons/application_view_detail.png">
        <% end %>
      </p>
      <% else %>
      <p class="info">
        No release has been assigned to this feature. Assign it from <%= link_to 'here', edit_project_feature_path(@project.code, @feature.id) %>.
      </p>
      <% end %>

      <% if @feature.sprint %>
      <p>
        <%= label_tag (:sprint) %><br/> <%#TODO: Inline combo edit %>
        <%= @feature.sprint.span_date %>
        <% link_to project_sprint_path(@project.code, @feature.sprint.id), :title => view_sprint_title do %>
          <img src="/images/icons/application_view_detail.png">
        <% end %>
        <% link_to burndown_project_sprint_path(@project.code, @feature.sprint.id), :title => sprint_burndown_title do %>
          <img src="/images/icons/chart_line.png">
        <% end %>
        <% link_to taskboard_project_sprint_path(@project.code, @feature.sprint.id), :title => sprint_board_title do %>
          <img src="/images/icons/table.png">
        <% end %>
      </p>
      <% else %>
      <p class="info">
        No sprint has been assigned to this feature. Assign it from <%= link_to 'here', edit_project_feature_path(@project.code, @feature.id) %>.
      </p>
      <% end %>

      <p>
        <%= label_tag (:user_story) %><br/>
        <%= h @feature.user_story %>
      </p>

      <script type="text/javascript">
        $(document).ready(function(){
            $('input:checkbox[name=acceptances]').click(function(){
                var acceptance_id = $(this).val();

                $.post('<%= url_for :action => :update_acceptance, :controller => :acceptances %>',
                       {"acceptance_id" : acceptance_id}, null, 'json');
            });   
        });
      </script>
    </div>

    <script type="text/javascript">

      $(document).ready(function(){

        $('.desc').inlineEdit({
            'url': "<%= url_for :action => :update_desc, :controller => :tasks %>",
            'name': 'task-id'
        });

        var click_status = function(){
            var task_id = $(this).parent().find(".task-id").val();

            var clone = $(this).clone();
            var current = $(this);

            $.post("<%= url_for :action => :get_options, :controller => :task_statuses %>", {task_id: task_id}, function(response){
                current.replaceWith(response);

                $(".status option").click(function () {
                    var status_id = $(this).val();

                    $.post("<%= url_for :action => :update_status, :controller => :tasks %>",
                        {"status_id": status_id, "id": task_id },
                        callback_status, "json");
                });

            }, 'html');

        };

        $('.status').click(click_status);

        var callback_status = function(data){
            var task_status = data.task_status.task_status;
            var task = data.task.task;
            
            var original = $('#task_' + task.id + " .status");
            var clone = original.clone();
            clone = clone.empty().append(task_status.display_name);
            clone.css('background-color', '#'+task_status.color);
            clone.click(click_status);
            original.replaceWith(clone);
        }

      });
      
    </script>

    <div style="float:left; margin-left:1em; width:45%">

        <div style="margin-bottom:1em;">
            <% unless @acceptances.empty? %>
              <h2>Acceptance Tests</h2>
              <table>
              <% for acceptance in @acceptances %>
              <tr>
                <td><%= check_box_tag :acceptances, acceptance.id, acceptance.accepted, :id => 'acceptance_' + acceptance.id.to_s %></td>
                <td><%= acceptance.description %></td>
                <td width="10%" style="text-align:center;">
                    <% link_to project_feature_acceptance_path(@project.code, @feature.id, acceptance.id),
                                :confirm => 'Are you sure?', :method => :delete do %>
                        <img src="/images/icons/delete.png">
                    <% end %>
                </td>
              </tr>
              <% end %>
              </table>
            <% else %>
              <p class="info">There are no acceptance tests for this feature yet.</p>
            <% end  %>
        </div>

        <div>
            <% unless @tasks.empty? %>
                <h2>Tasks for this feature</h2>

                <table id="tasks" width="100%">
                <% for task in @tasks %>
                    <tr id="task_<%= task.id %>">
                        <input type="hidden" class="task-id" name="task-id" value="<%= task.id %>"/>
                        <td width="50%" class="desc"><%= task.description %></td>
                        <td style="text-align:center;">
                           <%= link_to task.user.login, user_path(task.user.login) %>
                        </td>
                        <td width="20%" class="status" style="background-color:<%= task.task_status.hash_color %>">
                          <input type="hidden" class="tsid" name="task_status_id" value="<%= task.task_status.id %>" />
                          <span><%= task.task_status.display_name %></span>
                        </td>
                        <td width="10%" style="text-align:center;">
                            <% link_to project_feature_task_path(@project.code, @feature.id, task.id),
                                        :confirm => 'Are you sure?', :method => :delete do %>
                                <img src="/images/icons/delete.png">
                            <% end %>
                        </td>
                    </tr>
                <% end %>
                </table>
            <% else %>
                <p class="info">There are no tasks for this feature yet.</p>
            <% end %>
        </div>
      
    </div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Project Dashboard', project_path(@project.code), :class => 'dashboard' %></li>
    <li><%= link_to 'Edit Feature', edit_project_feature_path(@project.code, @feature.id), :class => 'edit' %></li>
    <li><%= link_to 'Delete Feature', project_feature_path(@project.code, @feature.id),
                :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></li>
    <% if @feature.sprint %>            
    <li><%= link_to 'Add Task', new_project_feature_task_path(@project.code, @feature.id), :class => 'add', :rel => 'facebox' %></li>
    <% end %>
    <li><%= link_to 'Add Acceptance Test', new_project_feature_acceptance_path(@project.code, @feature.id), :class => 'add', :rel => 'facebox' %></li>
  </ul>
</div>