<% content_for :title do %><%= @project.name %> Feature&nbsp;:&nbsp;<%= @current_account.company.name %><% end %>

<div id="content">
    <p class="success"><span ><%= flash[:notice] %></span></p>
    
    <div class="left">
      <div id="feature">
      <script type="text/javascript">
        $(document).ready(function(){
            $('.card').corner();
            $('.status').corner();
        });
      </script>

      <div class="bbordered">
        <h3>User Story</h3>
        <%= h @feature.user_story %>
      </div>
        
      <table width="100%" class="bbordered">
        <tr>
          <td><strong>Business value</strong></td>
          <td><%= @feature.business_value %></td>
        </tr>
        <tr>
          <td><strong>Priority level</strong></td>
          <td><%= @feature.priority.level %></td>
        </tr>
        <tr>
          <td><strong>Story points</strong></td>
          <td><%= @feature.story_points %></td>
        </tr>
        <tr>
          <td><strong>Status</strong></td>
          <td style="background-color:<%= @feature.feature_statuses.hash_color %>"><%= @feature.feature_statuses.display_name %></td>
        </tr>
      </table>

      <div id="release" class="bbordered">
      <h3>Release</h3>  <%#TODO: Inline combo edit %>
      <% if @feature.release %>
      <div>
        <%= @feature.release.version_number %>&nbsp;<% unless @feature.release.estimate_date.nil? %>-&nbsp;<%= @feature.release.estimate_date %><% end %>
        <%= link_to project_release_path(@project.code, @feature.release.id), :title => view_release_title, :rel => :tipsy do %>
          <img src="/images/icons/application_view_detail.png">
        <% end %>
        <%= link_to burndown_project_release_path(@project.code, @feature.release), :title => release_burndown_title, :rel => :tipsy do %>
          <img src="/images/icons/chart_line.png">
        <% end %>
      </div>
      <% else %>
      <p class="info">
        This feature is not in a release.
      </p>
      <% end %>
      </div>
      
      <div id="sprint" class="bbordered">
      <h3>Sprint</h3><%#TODO: Inline combo edit %>
      <% if @feature.sprint %>
      <p>
        <%= @feature.sprint.span_date %>
        <%= link_to project_sprint_path(@project.code, @feature.sprint.id), :title => view_sprint_title, :rel => :tipsy do %>
          <img src="/images/icons/application_view_detail.png">
        <% end %>
        <%= link_to burndown_project_sprint_path(@project.code, @feature.sprint.id), :title => sprint_burndown_title, :rel => :tipsy do %>
          <img src="/images/icons/chart_line.png">
        <% end %>
        <%= link_to taskboard_project_sprint_path(@project.code, @feature.sprint.id), :title => sprint_board_title, :rel => :tipsy do %>
          <img src="/images/icons/table.png">
        <% end %>
      </p>
      <% else %>
      <p class="info">
        This feature is not in a sprint.
      </p>
      <% end %>
      </div>
      </div>
      
    </div>

    <script type="text/javascript">

      $(document).ready(function(){

        $('.desc').inlineEdit({
            'url': "<%= url_for :action => :update_desc, :controller => :tasks %>",
            'name': 'task-id'
        });
        <%# TODO: This is noisy, use the comboEdit library %>
        var click_status = function(){
            var task_id = $(this).parent().find(".task-id").val();

            var clone = $(this).clone();
            var current = $(this);

            $.post("<%= url_for :action => :get_options, :controller => :task_statuses %>", {task_id: task_id}, function(response){
                current.replaceWith(response);

                $(".status option").click(function () {
                    var status_id = $(this).val();

                    $.post("<%= url_for :action => :update_status, :controller => :tasks %>",
                        {"status_id": status_id, "id": task_id },
                        callback_status, "json");
                });

            }, 'html');

        };

        $('.status').click(click_status);

        var callback_status = function(data){
            var task_status = data.task_status.task_status;
            var task = data.task.task;
            
            var original = $('#task_' + task.id + " .status");
            var clone = original.clone();
            clone = clone.empty().append(task_status.display_name);
            clone.css('background-color', '#'+task_status.color);
            clone.click(click_status);
            original.replaceWith(clone);
        }

      });
      
    </script>

    <div class="right">

        <div id="tests" class="bbordered">
            <h3>Acceptance Tests</h3>

            <div>
              <%= form_for @acceptance, :url => project_feature_acceptances_path(@project.code, @feature.id), :remote => true do |f| %>
                <%= f.text_field :description %>              
                <%= f.submit 'Save', :class => 'inline-button' %>
              <% end %>
            </div>

            <% unless @acceptances.empty? %>
              <table width="100%">
              <% for acceptance in @acceptances %>
              <tr>
                <td width="5%">
                  <%= check_box_tag :acceptances, acceptance.id, acceptance.accepted, :id => acceptance.id.to_s, :onclick => "jQuery.getScript('"+ check_project_feature_acceptance_path(@project, @feature, acceptance) + "')" %>
                </td>
                <td><%= acceptance.description %></td>
                <td width="5%" style="text-align:center;">
                    <%= link_to project_feature_acceptance_path(@project.code, @feature.id, acceptance.id),
                                :confirm => 'Are you sure?', :method => :delete do %>
                        <img src="/images/icons/delete.png">
                    <% end %>
                </td>
              </tr>
              <% end %>
              </table>
            <% else %>
              <p class="info">There is no acceptance test for this feature yet.</p>
            <% end  %>
        </div>

        <div class="bbordered">
            <h3>Tasks for this feature</h3>

            <%# TODO: Task form does not work yet. %>  
            <div>
              <%= form_for @task, :url => project_feature_tasks_path(@project.code, @feature), :remote => true do |f| %>
               <%= f.text_field :description %>
               <%= f.submit 'Save' %>
              <% end %>
            </div>

            <% unless @tasks.empty? %>
                <table id="tasks" width="100%">
                <% for task in @tasks %>
                    <tr id="task_<%= task.id %>">
                      <input type="hidden" class="task-id" name="task-id" value="<%= task.id %>"/>
                      <td width="5%">
                        <%= check_box_tag :tasks, task.id, task.done, :id => task.id.to_s, :onclick => "jQuery.getScript('"+ check_project_feature_task_path(@project, @feature, task) + "')" %>                      </td>
                      <td width="50%" class="desc"><%= task.description %></td>
                      <td style="text-align:center;">
                        <%= link_to task.user.email, user_path(task.user) %>
                      </td>
                      <td width="20%" class="status" style="background-color:<%= task.task_statuses.hash_color %>">
                        <input type="hidden" class="tsid" name="task_status_id" value="<%= task.task_statuses.id %>" />
                        <span><%= task.task_statuses.display_name %></span>
                      </td>
                      <td width="10%" style="text-align:center;">
                          <%= link_to project_feature_task_path(@project.code, @feature.id, task.id),
                                        :confirm => 'Are you sure?', :method => :delete do %>
                                <img src="/images/icons/delete.png">
                          <% end %>
                      </td>
                    </tr>
                <% end %>
                </table>
            <% else %>
                <p class="info">There is no task for this feature yet.</p>
            <% end %>
        </div>
      
    </div>
</div>

<div id="sidebar">
  <ul id="menu">
    <li><%= link_to 'Edit Feature', edit_project_feature_path(@project.code, @feature.id), :class => 'edit' %></li>
    <li><%= link_to 'Delete Feature', project_feature_path(@project.code, @feature.id),
                :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></li>
  </ul>
</div>