    <div id="login">
        <fieldset>
        <legend>Login</legend>      
        <% form_for @user_session do |f|%>
          <%= f.error_messages %>

          <%= f.label :login, 'username' %><br />
          <%= f.text_field :login %><br />

          <%= f.label :password %><br />
          <%= f.password_field :password %><br />

          <%= f.submit "Login" %>
        <% end %>
        </fieldset>
    </div>