<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= controller.action_name %></title>
	<%= stylesheet_link_tag 'ext-all' %>
	<%= stylesheet_link_tag 'projexion' %>
	<%= javascript_include_tag 'ext-base' %>
	<%= javascript_include_tag 'ext-all-debug' %>
	<%= javascript_include_tag 'ux/SearchField' %> 
	<%= javascript_include_tag 'projexion' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>
<div id="header"><span><h2>Projexion</h2></span></div>
</body>
</html>
