<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= yield :title %> 
	<title><% unless @project.nil? %><%= @project.name %><% end %>&nbsp;<%= controller.action_name.capitalize %>&nbsp;<%= controller.controller_name.capitalize %>&nbsp;-&nbsp;Projexion</title>
    <%= stylesheet_link_tag 'reset' %> <%# This is loaded first to reset the browser default value %>
	<%= stylesheet_link_tag 'projexion' %>
    <%= stylesheet_link_tag 'facebox' %>
    <%= javascript_include_tag 'jquery-1.4.1.min' %>
    <%= javascript_include_tag 'jquery.inlineEdit' %>
    <%= javascript_include_tag 'jquery.slugify' %>
    <%= javascript_include_tag 'jquery.tooltip.min' %>
    <%= javascript_include_tag 'jquery.flot.min' %>
    <%= javascript_include_tag 'jquery.corner' %>
    <%= javascript_include_tag 'facebox' %>
    <script type="text/javascript">
      $(document).ready(function(){
        <%# TODO: This doesn't work. The height of content and sidebar is not equal %>  
        $("#sidebar").height($("#content").height()); //  Make the #sidebar height always the same as #content
        $("a[rel*=facebox]").facebox();
          
        <% if flash[:notice] %>
        $("p.success").css("display","block"); // Display the notice
        <% end %>

        $('#toolbar li a').corner("top");  
      });
    </script>

</head>
<body>
    <div id="header">
      <div id="title">Projexion</div>
      <div id="login">Logged in as: <%= @current_user.login %> |
        <%= link_to "Logout", logout_path , :method => :delete, :confirm => "Are you sure you want to logout?" %>
      </div>

      <div style="clear:both"></div>  
    </div>
    
    <div id="toolbar">
        <ul style="float:left">
          <li><%= link_to 'Dashboard', root_url %></li>         
          <% if @project != nil and controller_name != 'projects' %><li><%= link_to @project.name, project_path(@project.code) %></li><% end %>
          <li><%= link_to 'Admin', :controller => :admin %></li>
        </ul>
        
        <ul style="float:right">
        	<li><%= link_to 'My Account', edit_user_url(@current_user) %></li>
        </ul>
    </div>
    <div style="clear:both;"></div>
    <div id="middle">

        <%= yield %>
        
        <div style="clear:both"></div>
    </div>

    <div id="footer">
      <a href="http://github.com/scrum8/projexion">Projexion</a> is a Free Software made by <a href="http://scrum8.com/">Scrum8</a> licensed under <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html">GNU GPL v3.0</a>. <br/>
      <a href="http://scrum8.com/contact">Contact us</a> for more info on how we can help you with your project.
    </div>
</body>
</html>