<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= csrf_meta_tag %>
    <%= yield :title %>
	  <title><% unless @project.nil? %><%= @project.name %><% end %>&nbsp;<%= controller.action_name.capitalize %>&nbsp;<%= controller.controller_name.capitalize %>&nbsp;-&nbsp;Projexion</title>
    <%= stylesheet_link_tag 'reset' %> <%# This is loaded first to reset the browser default value %>
    <%= stylesheet_link_tag 'projexion' %>
    <%= javascript_include_tag 'jquery-1.4.1.min' %>
    <%= javascript_include_tag 'rails' %>
</head>
<body>
    <div id="header">
      <div id="title">Projexion</div>

      <div style="clear:both"></div>
    </div>

    <div style="clear:both;"></div>
    <div id="middle">

        <%= yield %>

        <div style="clear:both"></div>
    </div>


    <%= render :partial => 'layouts/footer' %>
</body>
</html>