<% content_for :title do %>
  Register for your account : Projexion
<% end %>

<div id="content">
<% form_for @account do |f| %>
  <%= f.fields_for :companies, @company do |company| %>
    <div>
      <%= company.label :name, 'Company Name' %>
      <%= company.text_field :name %>
    </div>
  <% end %>

  <div>
    <%= f.label :subdomain, 'Desired subdomain' %>
    <%= f.text_field :subdomain %>
  </div>

  <%= f.fields_for :users, @user do |user| %>
    <div>
      <%= user.label :email, 'Your E-mail' %>
      <%= user.text_field :email %>
    </div>

    <div>
      <%= user.label :password %>
      <%= user.password_field :password %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>
</div>