<div id="content">
    <div id="task">
        <h1>Assign user to a Project</h1>

        <%= form_for ([:admin, @project_member]) do |f| %>
            <%= render "shared/error_messages", :target => @project_member %>

            <p>
                <%= f.label :project %><br/>
                <%= f.collection_select(:project, @projects, :id, :name) %>
            </p>

            <p>
                <%= f.label :user %><br/>
                <%= f.collection_select(:user_id, @users, :id, :email) %>
            </p>

        <p>
                        <%= f.label :project_role %><br/>
                        <%= f.collection_select(:project_role, @project_roles, :id, :name) %>
                    </p>


          <div>
            <%= f.submit 'Save', :class => 'save_btn' %>
          </div>

        <% end %>
    </div>
</div>

<div style="clear:both"></div>